doctype html
head
  title Add_blog
  link(rel="stylesheet", href="../assets/css/bootstrap.min.css")
  link(rel="stylesheet", href="../assets/css/admin_page.1.1.0.min.css")
  link(rel="stylesheet", href="../assets/css/extras.1.1.0.min.css")
  link(rel="stylesheet", href="../assets/css/admin_page.css")
  link(rel="stylesheet", href="../assets/css/fontawesome-all.min.css")
  link(rel="stylesheet", href="../assets/css/font-awesome.css")
  link(rel="stylesheet", href="../assets/css/all.css")
  script(src='https://cdn.tiny.cloud/1/z0qez48sbqyuip9s382cicowvftudtqj0a8wo4sqr4kqbcdb/tinymce/5/tinymce.min.js' referrerpolicy='origin')
.container-fluid 
  .row
    aside.main-sidebar.col-12.col-md-3.col-lg-2.px-0
      .main-navbar
        nav.navbar.align-items-stretch.navbar-light.bg-white.flex-md-nowrap.border-bottom.p-0
          a.navbar-brand.w-100.mr-0(href="#")
            .d-table.m-auto
              img.d-inline-block.align-top.mr-1.mt-0(style="max-width: 30px;", src="../assets/img/logo/LogoWeb.png")
              span.d-none.d-md-inline.ml-1 WAKAME
        .nav-wrapper
          ul.nav.flex-column
            li.nav-item
              a.nav-link(href="index.html")
                i.fas.fa-pen.fa-2x
                span Thống kê
            li.nav-item
              a.nav-link(href="index.html")
                i.far.fa-newspaper.fa-2x
                span Bài đăng
            li.nav-item
              a.nav-link(href="index.html")
                i.fas.fa-file-medical
                span Viết bài
            li.nav-item
              a.nav-link(href="index.html")
                i.far.fa-newspaper.fa-2x
                span Bài đăng
    main.main-content.col-lg-10.col-md-9.col-sm-12.p-0.offset-lg-2.offset-md-3
      .main-navbar.sticky-top.bg-white.align-right.mb-5
        nav.navbar.align-items-stretch.navbar-light.flex-md-nowrap.p-0
          .main-navbar.w-100.d-none.d-md-flex.d-lg-flex
          ul.navbar-nav.border-left.flex-row
            li.nav-item.border-right.dropdown.notifications
              a.nav-link.nav-link-icon.text-center(href="#", role="button", onclick="show_noti()")
                .nav-link-icon__wrapper
                  i.fas.fa-bell
                  span.badge.badge-pill.badge-danger 2
              #notification.dropdown-menu.dropdown-menu-small
                a.dropdown-item(href="#")
                  .notification__icon-wrapper
                    .notification__icon
                      i.fas.fa-comment-alt
                    .notification__content
                      span.notification__category Bài viết
                      p Thầy Khoa đã bình luận bài viết của bạn
                a.dropdown-item(href="#")
                  .notification__icon-wrapper
                    .notification__icon
                      i.fas.fa-comment-alt
                    .notification__content
                      span.notification__category Tin nhắn
                      p Thầy Khoa đã nhắn tin cho bạn
                a.dropdown-item.notification__all.text-center Xem tất cả thông báo
            li.nav-item.dropdown
              a#user.nav-link.text-nowrap.px-3(role="button", onclick="show()")
                .d-table.m-auto
                  img.d-inline-block.align-top.mr-1.mt-0.user-avatar.rounded-circle(style="max-width: 40px;", src="../assets/img/post/post_1.png")
                  span.d-none.d-md-inline.ml-1 UIT Admin
                  i.fas.fa-sort-down.align-top.mt-1.ml-1.mr-1
              #usertable.dropdown-menu.dropdown-menu-small
                a.dropdown-item.text-danger(href="#")
                  i.fas.fa-sign-out-alt
                  | Logout 
      //  Kết thúc phần layout 
      //  Bắt đầu phần thân 
      
      form.main-content-container.container-fluid.px-4
        .row
          .col-lg-9.col-md-12
            .card.card-small.mb-3
              .card-body
                .add-new-post
                  input#blogImg.form-control.form-control-lg.mb-3(type="text", placeholder="Ảnh đại diện cho bài viết")
                  input#title.form-control.form-control-lg.mb-3(type="text", placeholder="Tiêu đề bài viết")
                  input#description.form-control.form-control-lg.mb-3.mt-2(type="text", placeholder="Mô tả bài viết")
                  input#kwlist.form-control.form-control-lg.mb-3.mt-2(type="text", placeholder="Danh sách keywords cho bài viết")
                  textarea(id="basic-conf")
                    | <p style="text-align: center;" data-mce-style="text-align: center;"><em><strong>Welcome to TinyMCE!</strong></em></p>
          .col-lg-3.col-md-12
            //  Post Overview 
            .card.card-small.mb-3
              .card-header.border-bottom.d-flex
                h5.m-2 Trạng thái
                button.btn.btn-sm.btn-accent.ml-auto.m-0(onclick = "getdata(event)")
                  i.fas.fa-paper-plane.mr-2
                  |  Đăng bài
              .card-body.p-0
                ul.list-group.list-group-flush
                  li.list-group-item.p-3
                    span.d-flex.mb-2
                      i.fas.fa-flag.mt-1.mr-1
                      strong.mr-1.w-100px Loại bản:
                      .select
                        select#slct(name="slcttype")
                          option(value="1", selected).
                            Nháp
                            
                          option(value="2").
                            Chính thức
                            
                    span.d-flex.mb-2
                      i.fas.fa-eye.mt-1.mr-1
                      strong.mr-1.w-100px Chế độ:
                      .select
                        select#slct(name="slct")
                          option(value="1", selected).
                            Công khai
                            
                          option(value="2") Cá nhân
                    span.d-flex.mb-2
                      i.far.fa-calendar-alt.mt-1.mr-1
                      strong.mr-1.w-100px Lên lịch:
                      input#setdate.form-control(type="date")
                  li.list-group-item.d-flex.px-3
                    button.btn.btn-sm.btn-outline-accent
                      i.far.fa-save.mr-2
                      | Lưu nháp
                    button.btn.btn-sm.btn-danger.ml-auto(type="submit")
                      i.fas.fa-trash-alt.mr-2
                      | Xóa bài
            //  / Post Overview 
            //  Post Overview 
            .card.card-small.mb-3
              .card-header.border-bottom
                h6.m-0 Chủ đề
              .card-body.p-0
                .px-3.pb-2
                  each category in categories
                    label.radio
                      input(type="radio", name="categories", value=category.id)
                      span #{category.name}
                  //- label.radio
                  //-   input(type="radio", name="categories", value="2")
                  //-   span Văn hóa
                  //- label.radio
                  //-   input(type="radio", name="categories", value="3")
                  //-   span Việc làm
                  //- label.radio
                  //-   input(type="radio", name="categories", value="4")
                  //-   span Thông báo
            .card.card-small.mb-3
              .card-header.border-bottom
                h6.m-0 Tag
              .card-body.p-0
                .px-3.pb-2.mt-3
                  span.mb-2
                    i.fas.fa-tag.mt-1.mr-1
                    strong.mr-1.w-100px Các thẻ tag:
                    each tag in tags 
                      span= '#' + tag.TEN_TAG + ' '
                    input#tags.mt-3.border-left-0.border-top-0.border-right-0.border-bottom-1.btn-outline-none(type="text")


script.
  tinymce.init({
  selector: '#basic-conf',
  //width: 600,
  height: 600,
  plugins: [
    'advlist autolink link image lists charmap print preview hr anchor pagebreak',
    'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
    'table emoticons template paste help'
  ],
  toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
    'bullist numlist outdent indent | paste | link image | print preview media fullpage | ' +
    'forecolor backcolor emoticons | help',
  menu: {
    favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons'}
  },
  menubar: 'favs file edit view insert format tools table help',
  content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }',
  paste_block_drop: false
  });
  function getdata(event){
    event.preventDefault()
    var data = {}
    data.content = tinyMCE.activeEditor.getContent({format : 'raw'});
    data.title = document.getElementById("title").value;
    data.description = document.getElementById("description").value;
    data.kwlist = document.getElementById("kwlist").value;
    data.blogImg = document.getElementById("blogImg").value;
    data.tags = document.getElementById("tags").value;
    data.category = document.querySelector('input[name="categories"]:checked').value;
    var xhr = new XMLHttpRequest();
    xhr.open("POST", 'http://localhost:3000/admin/addBlog', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify({
    content: data
  }));
    console.log(data);
  }
script.  
  var date = new Date();
              var day = date.getDate();
              var mon = date.getMonth() + 1;
              var year = date.getFullYear();
              mon = mon.toString();
              day = day.toString();
              if (mon.length == 1) {
                    mon = "0" + mon;
              }
              if (day.length == 1) {
                    day = "0" + day;
              }
              document.getElementById("setdate").setAttribute("min", year + "-" + mon + "-" + day);
              document.getElementById('setdate').valueAsDate = new Date();
              function show() {
                    var x = "none"
                    if (document.getElementById("usertable").style.display == "block") {
                          document.getElementById("usertable").style.display = "none";
                    }
                    else {
                          document.getElementById("usertable").style.display = "block";
                    }
              }
              function show_noti() {
                    var x = "none"
                    if (document.getElementById("notification").style.display == "block") {
                          document.getElementById("notification").style.display = "none";
                    }
                    else {
                          document.getElementById("notification").style.display = "block";
                    }
              }