extends layout.pug 
block main 
  main
    // ? slider Area Start
    section.slider-area.slider-area2
      .slider-active
        // Single Slider
        .single-slider.slider-height2
          .container
            .row
              .col-xl-8.col-lg-11.col-md-12
                .hero__caption.hero__caption2
                  h1(data-animation='bounceIn' data-delay='0.2s') Về chúng tôi
                  // breadcrumb Start
                  nav(aria-label='breadcrumb')
                    ol.breadcrumb
                      li.breadcrumb-item
                        a(href='/') Trang chủ
                      li.breadcrumb-item
                        a(href='/about') Về chúng tôi
                  // breadcrumb End
    .services-area.services-area2.section-padding40
      .container
        .row.justify-content-sm-center
          .col-lg-4.col-md-6.col-sm-8
            .single-services.mb-30
              .features-icon
                img(src='assets/img/icon/icon1.svg' alt='')
              .features-caption
                h3 50+ khóa học tiếng Nhật
                p Bao gồm tài liệu và đề thi JLPT cập nhật thường xuyên.
          .col-lg-4.col-md-6.col-sm-8
            .single-services.mb-30
              .features-icon
                img(src='assets/img/icon/icon2.svg' alt='')
              .features-caption
                h3 Đội ngũ chuyên gia
                p Nơi tập trung các chuyên gia hàng đầu trong ngành ngôn ngữ Nhật.
          .col-lg-4.col-md-6.col-sm-8
            .single-services.mb-30
              .features-icon
                img(src='assets/img/icon/icon3.svg' alt='')
              .features-caption
                h3 Khóa học trọn đời
                p Nâng cấp Prenium để được hưởng ưu đãi này.
    // ? About Area-1 Start
    section.about-area1.fix.pt-10
      .support-wrapper.align-items-center
        .left-content1
          .about-icon
            img(src='assets/img/icon/about.svg' alt='')
          // section tittle
          .section-tittle.section-tittle2.mb-55
            .front-text
              h2 Học nhiều hơn về ngôn ngữ và văn hóa Nhật Bản
              p
                | "Tất cả mọi thành công trên đời đều là do luyện tập mà thành."
                | – Pele –
          .single-features
            .features-icon
              img(src='assets/img/icon/right-icon.svg' alt='')
            .features-caption
              p Nội dung học tập cập nhật theo xu hướng hiện đại, cách tiếp cận mới mẻ, thú vị.
          .single-features
            .features-icon
              img(src='assets/img/icon/right-icon.svg' alt='')
            .features-caption
              p Tham gia cùng hàng triệu người từ khắp nơi trên thế giới cùng nhau học tập.
          .single-features
            .features-icon
              img(src='assets/img/icon/right-icon.svg' alt='')
            .features-caption
              p Học trực tuyến một cách dễ dàng, tiện lợi. Hướng đến mục đích giao tiếp tiếng Nhật tự nhiên nhất.
        .right-content1
          // img
          .right-img
            img(src='assets/img/gallery/about.png' alt='')
            .video-icon
              a.popup-video.btn-icon(href='https://www.youtube.com/watch?v=7fYriuhwg_s')
                i.fas.fa-play
    // About Area End
    // ? top subjects Area Start
    .topic-area.section-padding40
      .container
<<<<<<< HEAD
        .row.justify-content-between
          .col-xl-4.col-lg-5.col-md-4.col-sm-6
            .single-footer-caption.mb-50
              .single-footer-caption.mb-30
                // logo
                .footer-logo.mb-25
                  a(href='/')
                    img(src='assets/img/logo/wakame_logo.svg' alt='' style='width:300px; height:80px;')
                .footer-tittle
                  .footer-pera
                    p 熱意なしに偉大なことが達成されたことはない。Không có sự vĩ đại nào đạt được nếu không có sự nhiệt tình, nhiệt tâm.
                // social
                .footer-social
                  p(style="color:white") Theo dõi chúng tôi:
                  a(href='https://twitter.com' target='_blank')
                    i.fab.fa-twitter
                  a(href='https://facebook.com' target='_blank')
                    i.fab.fa-facebook-f
                  a(href="https://www.youtube.com" target="blank")
                    i.fab.fa-youtube
                  a(href="https://www.instagram.com" target="blank")
                    i.fab.fa-instagram
                  a(href="https://www.plus.google.com" target="blank")
                    i.fab.fa-google-plus-g
          .col-xl-2.col-lg-3.col-md-4.col-sm-5
            .single-footer-caption.mb-50
              .footer-tittle
                h4 Về chúng tôi
                ul
                  li
                    a(href='#') Về Wakame
                  li
                    a(href='#') Tuyển dụng                
                  li
                    a(href='#') Điều khoản sử dụng
                  li
                    a(href='#') Chính sách bảo mật 
          .col-xl-2.col-lg-4.col-md-4.col-sm-6
            .single-footer-caption.mb-50
              .footer-tittle
                h4 Hỗ trợ
                ul
                  li
                    a(href='#') Trung tâm trợ giúp
                  li
                    a(href='#') Mua khóa học
                  li
                    a(href='#') Đổi trả &amp; hoàn tiền
                  li
                    a(href='#') Thanh toán
          .col-xl-2.col-lg-3.col-md-4.col-sm-6
            .single-footer-caption.mb-50
              .footer-tittle
                h4 Liên hệ
                ul
                  li
                    i.fa.fa-map-marker-alt(style="color:#ff7b2e") 
                    a(style="text-decoration:none") &nbsp; Địa chỉ
                    p ĐH CNTT, ĐHQG-HCM
                  li
                    i.fa.fa-phone(style="color:#ff7b2e") 
                    a(style="text-decoration:none") &nbsp; Điện thoại
                    p 0123 456 789
                  li
                    i.fa.fa-envelope(style="color:#ff7b2e") 
                    a(style="text-decoration:none") &nbsp; Email
                    p wakameuit@gmail.com

    // footer-bottom area
    .footer-bottom-area
=======
        .row.justify-content-center
          .col-xl-7.col-lg-8
            .section-tittle.text-center.mb-55
              h2 Top chủ đề khóa học
        .row
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/manner.png' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Công sở
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/du_hoc.jpg' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Du học
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/kanji.png' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Kanji
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/tu_vung.png' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Từ vựng
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/nghe_hieu.jpg' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Nghe hiểu
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/doc_hieu.jpg' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Đọc hiểu
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/ngu_phap.jpg' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Ngữ pháp
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/on_thi.png' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Ôn thi
        .row.justify-content-center
          .col-xl-12
            .section-tittle.text-center.mt-20
              a.border-btn(href='/courses') Xem tất cả
              i.fa.fa-arrow-right(aria-hidden='true') 
    // top subjects End
    // ? About Area-3 Start
    section.about-area3.fix
      .support-wrapper.align-items-center
        .right-content3
          // img
          img(src='assets/img/icon/advantage.png' alt='' style='width:550px; height:300px; margin-top:0px; margin-left: 100px;')
        .left-content3
          // section tittle
          .section-tittle.section-tittle2.mb-20
            .front-text
              h2 Lợi ích khi tham gia khóa học
          .single-features
            .features-icon
              img(src='assets/img/icon/right-icon.svg' alt='')
            .features-caption
              p Được truy cập vào kho dữ liệu khổng lồ về kiến thức và kinh nghiệm phong phú khác.
          .single-features
            .features-icon
              img(src='assets/img/icon/right-icon.svg' alt='')
            .features-caption
              p Cơ hội tiếp xúc học tập cùng với các chuyên gia ngôn ngữ Nhật hàng đầu trong nước và nước ngoài.
          .single-features
            .features-icon
              img(src='assets/img/icon/right-icon.svg' alt='')
            .features-caption
              p Cơ hội nhận học bổng du học tại các trường đại học nổi tiếng và được giới thiệu việc làm với các công ty có văn hóa Nhật.
    // About Area End
    // ? Team
    section.team-area.section-padding40.fix
>>>>>>> aa4cc6879e46917fe9ea5239ab3db4bb86488c4a
      .container
        .row.justify-content-center
          .col-xl-7.col-lg-8
            .section-tittle.text-center.mb-55
              h2 Đội ngũ chuyên gia
        .team-active
          .single-cat.text-center
            .cat-icon
              img(src='assets/img/gallery/MsJunko.jpg' alt='' style='width:200px; height:200px;')
            .cat-cap
              h5
                a(href='services.html') Ms. Junko Hirayama
              p Kinh nghiệm giảng dạy 10 năm
              p - Osaka -
          .single-cat.text-center
            .cat-icon
              img(src='assets/img/gallery/MsHoa.jpg' alt='' style='width:200px; height:200px;')
            .cat-cap
              h5
                a(href='services.html') Ms. Nguyễn Thị Hoa
              p Kinh nghiệm giảng dạy 5 năm
              p - UIT - 
          .single-cat.text-center
            .cat-icon
              img(src='assets/img/gallery/MsLe.jpg' alt='' style='width:200px; height:200px;')
            .cat-cap
              h5
                a(href='services.html') Ms. Phan Lệ
              p Kinh nghiệm giảng dạy 5 năm
              p - UIT - 
          .single-cat.text-center
            .cat-icon
              img(src='assets/img/gallery/MsThuong.jpg' alt='' style='width:200px; height:200px;')
            .cat-cap
              h5
                a(href='services.html') Ms. Dương Thị Thương
              p Kinh nghiệm giảng dạy 5 năm
              p - UIT -             
          .single-cat.text-center
            .cat-icon
              img(src='assets/img/gallery/MrTai.png' alt='' style='width:200px; height:200px;')
            .cat-cap
              h5
                a(href='services.html') Mr. Lê Minh Tài
              p Kinh nghiệm du học Nhật 2 năm 
              p - UIT - 
    // Services End
