doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title Courses | Education
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='manifest' href='site.webmanifest')
  link(rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico')
  // CSS here
  link(rel='stylesheet' href='assets/css/bootstrap.min.css')
  link(rel='stylesheet' href='assets/css/owl.carousel.min.css')
  link(rel='stylesheet' href='assets/css/slicknav.css')
  link(rel='stylesheet' href='assets/css/flaticon.css')
  link(rel='stylesheet' href='assets/css/progressbar_barfiller.css')
  link(rel='stylesheet' href='assets/css/gijgo.css')
  link(rel='stylesheet' href='assets/css/animate.min.css')
  link(rel='stylesheet' href='assets/css/animated-headline.css')
  link(rel='stylesheet' href='assets/css/magnific-popup.css')
  link(rel='stylesheet' href='assets/css/fontawesome-all.min.css')
  link(rel='stylesheet' href='assets/css/themify-icons.css')
  link(rel='stylesheet' href='assets/css/slick.css')
  link(rel='stylesheet' href='assets/css/nice-select.css')
  link(rel='stylesheet' href='assets/css/style.css')
// ? Preloader Start
#preloader-active
  .preloader.d-flex.align-items-center.justify-content-center
    .preloader-inner.position-relative
      .preloader-circle
      .preloader-img.pere-text
        img(src='assets/img/logo/loder.png' alt='')
// Preloader Start
// Header Start
.header-area.header-transparent
  .main-header
    .header-bottom.header-sticky
      .container-fluid
        .row.align-items-center
          // Logo
          .col-xl-2.col-lg-2
            .logo
              a(href='index.html')
                img(src='assets/img/logo/logo.png' alt='')
          .col-xl-10.col-lg-10
            .menu-wrapper.d-flex.align-items-center.justify-content-end
              // Main-menu
              .main-menu.d-none.d-lg-block
                nav
                  ul#navigation
                    li.active
                      a(href='index.html') Home
                    li
                      a(href='courses.html') Courses
                    li
                      a(href='about.html') About
                    li
                      a(href='#') Blog
                      ul.submenu
                        li
                          a(href='blog.html') Blog
                        li
                          a(href='blog_details.html') Blog Details
                        li
                          a(href='elements.html') Element
                    li
                      a(href='contact.html') Contact
                    // Button
                    li.button-header.margin-left
                      a.btn(href='#') Join
                    li.button-header
                      a.btn.btn3(href='login.html') Log in
          // Mobile Menu
          .col-12
            .mobile_menu.d-block.d-lg-none
// Header End
main
  // ? slider Area Start
  section.slider-area.slider-area2
    .slider-active
      // Single Slider
      .single-slider.slider-height2
        .container
          .row
            .col-xl-8.col-lg-11.col-md-12
              .hero__caption.hero__caption2
                h1(data-animation='bounceIn' data-delay='0.2s') About us
                // breadcrumb Start
                nav(aria-label='breadcrumb')
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html') Home
                    li.breadcrumb-item
                      a(href='#') about
                // breadcrumb End
  .services-area.services-area2.section-padding40
    .container
      .row.justify-content-sm-center
        .col-lg-4.col-md-6.col-sm-8
          .single-services.mb-30
            .features-icon
              img(src='assets/img/icon/icon1.svg' alt='')
            .features-caption
              h3 60+ UX courses
              p The automated process all your website tasks.
        .col-lg-4.col-md-6.col-sm-8
          .single-services.mb-30
            .features-icon
              img(src='assets/img/icon/icon2.svg' alt='')
            .features-caption
              h3 Expert instructors
              p The automated process all your website tasks.
        .col-lg-4.col-md-6.col-sm-8
          .single-services.mb-30
            .features-icon
              img(src='assets/img/icon/icon3.svg' alt='')
            .features-caption
              h3 Life time access
              p The automated process all your website tasks.
  // ? About Area-1 Start
  section.about-area1.fix.pt-10
    .support-wrapper.align-items-center
      .left-content1
        .about-icon
          img(src='assets/img/icon/about.svg' alt='')
        // section tittle
        .section-tittle.section-tittle2.mb-55
          .front-text
            h2 Learn new skills online with top educators
            p
              | The automated process all your website tasks. Discover tools and
              | techniques to engage effectively with vulnerable children and young
              | people.
        .single-features
          .features-icon
            img(src='assets/img/icon/right-icon.svg' alt='')
          .features-caption
            p Techniques to engage effectively with vulnerable children and young people.
        .single-features
          .features-icon
            img(src='assets/img/icon/right-icon.svg' alt='')
          .features-caption
            p Join millions of people from around the world  learning together.
        .single-features
          .features-icon
            img(src='assets/img/icon/right-icon.svg' alt='')
          .features-caption
            p
              | Join millions of people from around the world learning together. Online learning is as easy and natural.
      .right-content1
        // img
        .right-img
          img(src='assets/img/gallery/about.png' alt='')
          .video-icon
            a.popup-video.btn-icon(href='https://www.youtube.com/watch?v=up68UAfH0d0')
              i.fas.fa-play
  // About Area End
  // ? top subjects Area Start
  .topic-area.section-padding40
    .container
      .row.justify-content-center
        .col-xl-7.col-lg-8
          .section-tittle.text-center.mb-55
            h2 Explore top subjects
      .row
        .col-lg-3.col-md-4.col-sm-6
          .single-topic.text-center.mb-30
            .topic-img
              img(src='assets/img/gallery/topic1.png' alt='')
              .topic-content-box
                .topic-content
                  h3
                    a(href='#') Programing
        .col-lg-3.col-md-4.col-sm-6
          .single-topic.text-center.mb-30
            .topic-img
              img(src='assets/img/gallery/topic2.png' alt='')
              .topic-content-box
                .topic-content
                  h3
                    a(href='#') Programing
        .col-lg-3.col-md-4.col-sm-6
          .single-topic.text-center.mb-30
            .topic-img
              img(src='assets/img/gallery/topic3.png' alt='')
              .topic-content-box
                .topic-content
                  h3
                    a(href='#') Programing
        .col-lg-3.col-md-4.col-sm-6
          .single-topic.text-center.mb-30
            .topic-img
              img(src='assets/img/gallery/topic4.png' alt='')
              .topic-content-box
                .topic-content
                  h3
                    a(href='#') Programing
        .col-lg-3.col-md-4.col-sm-6
          .single-topic.text-center.mb-30
            .topic-img
              img(src='assets/img/gallery/topic5.png' alt='')
              .topic-content-box
                .topic-content
                  h3
                    a(href='#') Programing
        .col-lg-3.col-md-4.col-sm-6
          .single-topic.text-center.mb-30
            .topic-img
              img(src='assets/img/gallery/topic6.png' alt='')
              .topic-content-box
                .topic-content
                  h3
                    a(href='#') Programing
        .col-lg-3.col-md-4.col-sm-6
          .single-topic.text-center.mb-30
            .topic-img
              img(src='assets/img/gallery/topic7.png' alt='')
              .topic-content-box
                .topic-content
                  h3
                    a(href='#') Programing
        .col-lg-3.col-md-4.col-sm-6
          .single-topic.text-center.mb-30
            .topic-img
              img(src='assets/img/gallery/topic8.png' alt='')
              .topic-content-box
                .topic-content
                  h3
                    a(href='#') Programing
      .row.justify-content-center
        .col-xl-12
          .section-tittle.text-center.mt-20
            a.border-btn(href='courses.html') View More Subjects
  // top subjects End
  // ? About Area-3 Start
  section.about-area3.fix
    .support-wrapper.align-items-center
      .right-content3
        // img
        .right-img
          img(src='assets/img/gallery/about3.png' alt='')
      .left-content3
        // section tittle
        .section-tittle.section-tittle2.mb-20
          .front-text
            h2 Learner outcomes on courses you will take
        .single-features
          .features-icon
            img(src='assets/img/icon/right-icon.svg' alt='')
          .features-caption
            p Techniques to engage effectively with vulnerable children and young people.
        .single-features
          .features-icon
            img(src='assets/img/icon/right-icon.svg' alt='')
          .features-caption
            p
              | Join millions of people from around the world
              | learning together.
        .single-features
          .features-icon
            img(src='assets/img/icon/right-icon.svg' alt='')
          .features-caption
            p
              | Join millions of people from around the world learning together.
              | Online learning is as easy and natural.
  // About Area End
  // ? Team
  section.team-area.section-padding40.fix
    .container
      .row.justify-content-center
        .col-xl-7.col-lg-8
          .section-tittle.text-center.mb-55
            h2 Community experts
      .team-active
        .single-cat.text-center
          .cat-icon
            img(src='assets/img/gallery/team1.png' alt='')
          .cat-cap
            h5
              a(href='services.html') Mr. Urela
            p The automated process all your website tasks.
        .single-cat.text-center
          .cat-icon
            img(src='assets/img/gallery/team2.png' alt='')
          .cat-cap
            h5
              a(href='services.html') Mr. Uttom
            p The automated process all your website tasks.
        .single-cat.text-center
          .cat-icon
            img(src='assets/img/gallery/team3.png' alt='')
          .cat-cap
            h5
              a(href='services.html') Mr. Shakil
            p The automated process all your website tasks.
        .single-cat.text-center
          .cat-icon
            img(src='assets/img/gallery/team4.png' alt='')
          .cat-cap
            h5
              a(href='services.html') Mr. Arafat
            p The automated process all your website tasks.
        .single-cat.text-center
          .cat-icon
            img(src='assets/img/gallery/team3.png' alt='')
          .cat-cap
            h5
              a(href='services.html') Mr. saiful
            p The automated process all your website tasks.
  // Services End
footer
  .footer-wrappper.footer-bg
    // Footer Start
    .footer-area.footer-padding
      .container
        .row.justify-content-between
          .col-xl-4.col-lg-5.col-md-4.col-sm-6
            .single-footer-caption.mb-50
              .single-footer-caption.mb-30
                // logo
                .footer-logo.mb-25
                  a(href='index.html')
                    img(src='assets/img/logo/logo2_footer.png' alt='')
                .footer-tittle
                  .footer-pera
                    p The automated process starts as soon as your clothes go into the machine.
                // social
                .footer-social
                  a(href='#')
                    i.fab.fa-twitter
                  a(href='https://bit.ly/sai4ull')
                    i.fab.fa-facebook-f
                  a(href='#')
                    i.fab.fa-pinterest-p
          .col-xl-2.col-lg-3.col-md-4.col-sm-5
            .single-footer-caption.mb-50
              .footer-tittle
                h4 Our solutions
                ul
                  li
                    a(href='#') Design &amp; creatives
                  li
                    a(href='#') Telecommunication
                  li
                    a(href='#') Restaurant
                  li
                    a(href='#') Programing
                  li
                    a(href='#') Architecture
          .col-xl-2.col-lg-4.col-md-4.col-sm-6
            .single-footer-caption.mb-50
              .footer-tittle
                h4 Support
                ul
                  li
                    a(href='#') Design &amp; creatives
                  li
                    a(href='#') Telecommunication
                  li
                    a(href='#') Restaurant
                  li
                    a(href='#') Programing
                  li
                    a(href='#') Architecture
          .col-xl-2.col-lg-3.col-md-4.col-sm-6
            .single-footer-caption.mb-50
              .footer-tittle
                h4 Company
                ul
                  li
                    a(href='#') Design &amp; creatives
                  li
                    a(href='#') Telecommunication
                  li
                    a(href='#') Restaurant
                  li
                    a(href='#') Programing
                  li
                    a(href='#') Architecture
    // footer-bottom area
    .footer-bottom-area
      .container
        .footer-border
          .row.d-flex.align-items-center
            .col-xl-12
              .footer-copy-right.text-center
                p
                  // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                  | Copyright &copy;
                  script.
                    document.write(new Date().getFullYear());
                  |  All rights reserved | This template is made with 
                  i.fa.fa-heart(aria-hidden='true')
                  |  by 
                  a(href='https://colorlib.com' target='_blank') Colorlib
                  // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
    // Footer End
// Scroll Up
#back-top
  a(title='Go to Top' href='#')
    i.fas.fa-level-up-alt
// JS here
script(src='./assets/js/vendor/modernizr-3.5.0.min.js')
// Jquery, Popper, Bootstrap
script(src='./assets/js/vendor/jquery-1.12.4.min.js')
script(src='./assets/js/popper.min.js')
script(src='./assets/js/bootstrap.min.js')
// Jquery Mobile Menu
script(src='./assets/js/jquery.slicknav.min.js')
// Jquery Slick , Owl-Carousel Plugins
script(src='./assets/js/owl.carousel.min.js')
script(src='./assets/js/slick.min.js')
// One Page, Animated-HeadLin
script(src='./assets/js/wow.min.js')
script(src='./assets/js/animated.headline.js')
script(src='./assets/js/jquery.magnific-popup.js')
// Date Picker
script(src='./assets/js/gijgo.min.js')
// Nice-select, sticky
script(src='./assets/js/jquery.nice-select.min.js')
script(src='./assets/js/jquery.sticky.js')
// Progress
script(src='./assets/js/jquery.barfiller.js')
// counter , waypoint,Hover Direction
script(src='./assets/js/jquery.counterup.min.js')
script(src='./assets/js/waypoints.min.js')
script(src='./assets/js/jquery.countdown.min.js')
script(src='./assets/js/hover-direction-snake.min.js')
// contact js
script(src='./assets/js/contact.js')
script(src='./assets/js/jquery.form.js')
script(src='./assets/js/jquery.validate.min.js')
script(src='./assets/js/mail-script.js')
script(src='./assets/js/jquery.ajaxchimp.min.js')
// Jquery Plugins, main Jquery
script(src='./assets/js/plugins.js')
script(src='./assets/js/main.js')
