extends layout.pug 
block title
  title Về chúng tôi | Wakame 
block main 
  main 
    section.slider-area.slider-area2 
      .slider-active 
        .single-slider.slider-height2
    section
      .container-fluid 
        .row.justify-content-end
          .col-xl-9.col-lg-9.algin-self-start
            .text-center
              img.img-fluid(src="assets/img/gallery/wakame.png")
    section.section-tittle.section-tittle2.mb-5 
      .container-fluid
        .row 
          .col-xl-5.col-lg-5.offset-1
            .front-text 
              h2 
                | Phương châm của Wakame
                br
                | - 若芽の教育方法 -
            fieldset.border.m-3.shadow(style="width:82%; border:2px solid #68c25c !important")
              legend.ml-5.rounded-circle.align-middle.mb-0(style="width:50px; height:50px;background-color:#68c25c")
                .text-center.p-2(style="height:100%")
                  i.fa.fa-quote-left.text-white
              .pt-3.pl-5.pr-5.pb-5
                p.mb-0.mt-2.font-italic 
                  | "Học tiếng Nhật không phải để trở thành người giỏi nhất, mà để làm chủ cuộc đời mình."
                footer.blockquote-footer.pt-4.mt-4.border-top 
                  | Wakame
            section.section-tittle.mt-5.mr-4
              p.text-justify
                | Tại Wakame, chúng tôi không cố gắng nhồi nhét kiến thức vào đầu học viên, 
                | mà là cố gắng giúp các bạn hiểu được niềm vui trong việc học tập. 
                | Thông qua việc học dần tạo nên thói quen tư duy và tính cách chủ động, kỉ luật.  
                | Đây cũng chính là thứ mà học sinh, sinh viên Việt Nam chúng ta thiếu. 
                | Chính vì vậy, chúng tôi rất hy vọng có thể đem lại cho các bạn những điều này.
    section.section-title.pb-5
      .container-fluid
        .row 
          .col-xl-4.col-lg-4.offset-3
            .text-center
              img.img-fluid(src="assets/img/icon/advantage.png")
          .col-xl-4.col-lg-4.mt-5
            .section-tittle.section-tittle2
              h2 
                | Lợi ích khi tham gia
            .single-features.mb-3
              .features-icon.pt-2 
                i.fas.fa-check.fa-2x
              .features-caption
                p.text-justify.m-0(style="font-size:16px")
                  | Được truy cập vào kho dữ liệu khổng lồ về kiến thức và kinh nghiệm phong phú khác.
            .single-features.mb-3
              .features-icon.pt-2  
                i.fas.fa-check.fa-2x
              .features-caption
                p.text-justify.m-0(style="font-size:16px")
                  | Cơ hội tiếp xúc học tập cùng với các chuyên gia ngôn ngữ Nhật hàng đầu trong nước và nước ngoài.
            .single-features.mb-3
              .features-icon.pt-2  
                i.fas.fa-check.fa-2x
              .features-caption
                p.text-justify.m-0(style="font-size:16px")
                  | Cơ hội nhận học bổng du học tại các trường đại học nổi tiếng và được giới thiệu việc làm với các công ty có văn hóa Nhật.
          .offset-1
    section.team-area.mt-5.pt-5.pb-5.mb-5
      .container 
        .row.justify-content-center 
          .col-xl-7.col-lg-7 
            .section-tittle.text-center.mb-5 
              h2 Đội ngũ thiết kế
        .row.justify-content-center
          .col-xl-3.col-lg-3.col-md-6.pl-5.pr-5.profile
            p.ph.w-100
              span.badge.rounded-circle 
                img.img-fluid(src="assets/img/icon/ph_badge_captain.png")
              img.w-100.rounded-circle(src="assets/img/blog/dummy.png" style="background-image:url(assets/img/gallery/ATai.jpg);")
            .txtSide.text-center 
              p.name
                | Lê Minh Tài 
              p.job
                | Kỹ sư Full-Stack
          .col-xl-3.col-lg-3.col-md-6.pl-5.pr-5.offset-1.profile
            p.ph.w-100
              img.w-100.rounded-circle(src="assets/img/blog/dummy.png" style="background-image:url(assets/img/gallery/PNam.jpg);")
            .txtSide.text-center 
              p.name
                | Nguyễn Phương Nam 
              p.job
                | Kỹ sư Front-End
          .col-xl-3.col-lg-3.col-md-6.pl-5.pr-5.offset-1.profile
            p.ph.w-100
              img.w-100.rounded-circle(src="assets/img/blog/dummy.png" style="background-image:url(assets/img/gallery/KTien.jpg);")
            .txtSide.text-center 
              p.name
                | Phạm Vũ Kiều Tiên 
              p.job
                | Kỹ sư Front-End
          .col-xl-3.col-lg-3.col-md-6.pl-5.pr-5.profile
            p.ph.w-100
              img.w-100.rounded-circle(src="assets/img/blog/dummy.png" style="background-image:url(assets/img/gallery/HThien.jpg);")
            .txtSide.text-center 
              p.name
                | Võ Hồng Thiên 
              p.job
                | Kỹ sư Back-End
          .col-xl-3.col-lg-3.col-md-6.pl-5.pr-5.offset-1.profile
            p.ph.w-100
              img.w-100.rounded-circle(src="assets/img/blog/dummy.png" style="background-image:url(assets/img/gallery/VAnh.jpg);")
            .txtSide.text-center 
              p.name
                | Trần Việt Anh 
              p.job
                | Kỹ sư Back-End
        