extends layout.pug 
block main 
  main
    // ? slider Area Start
    section.slider-area.slider-area2
      .slider-active
        // Single Slider
        .single-slider.slider-height2
          .container
            .row
              .col-xl-8.col-lg-11.col-md-12
                .hero__caption.hero__caption2
                  h1(data-animation='bounceIn' data-delay='0.2s') Blog
                  // breadcrumb Start
                  nav(aria-label='breadcrumb')
                    ol.breadcrumb
                      li.breadcrumb-item
                        a(href='/') Trang chủ
                      li.breadcrumb-item
                        a(href='#') Blog
                  // breadcrumb End
    // ? Blog Area Start
    section.blog_area.section-padding
      .container
        .row
          .col-lg-8.mb-5.mb-lg-0
            .blog_left_sidebar
              article.blog_item
                .blog_item_img
                  img.card-img.rounded-0(src='assets/img/blog/blog20112021.jpg' alt='')
                  a(style="text-align:center").blog_item_date(href='#')
                    h3 20
                    p 十二月
                .blog_details
                  a.d-inline-block(href='/blog_details')
                    h2.blog-head(style='color: #2d2d2d;') Wakame chúc mừng ngày Nhà giáo Việt Nam 20-11-2021
                  p
                    | Nhân ngày Nhà giáo Việt Nam, xin thay mặt cho toàn thể thành viên CLB gửi đến thầy cô 
                    | lời chúc tốt đẹp nhất. Chúc thầy cô dồi dào sức khỏe, gặp nhiều may mắn, luôn luôn trẻ 
                    | trung, vui vẻ và tràn ngập niềm tin trong cuộc sống.
                  ul.blog-info-link
                    li
                      a(href='#')
                        i.fa.fa-user
                        |  Nguyễn Thanh Nhã
                    li
                      a(href='#')
                        i.fa.fa-comments
                        |  03 bình luận
              article.blog_item
                .blog_item_img
                  img.card-img.rounded-0(src='assets/img/blog/blog_hpny.jpg' alt='')
                  a(style="text-align:center").blog_item_date(href='#')
                    h3 2
                    p 一月
                .blog_details
                  a.d-inline-block(href='/blog_details')
                    h2.blog-head(style='color: #2d2d2d;') Wakame chúc mừng năm mới 2021
                  p
                    | Nhân ngày đầu tiên đi học của năm 2021, CLB Wakame muốn gửi đến 
                    | các bạn sinh viên một lời chúc tốt đẹp nhất. Chúc các bạn một năm 
                    | mới an lành và thật nhiều may mắn.
                  ul.blog-info-link
                    li
                      a(href='#')
                        i.fa.fa-user
                        |  Lê Minh Tài
                    li
                      a(href='#')
                        i.fa.fa-comments
                        |  10 bình luận
              article.blog_item
                .blog_item_img
                  img.card-img.rounded-0(src='assets/img/blog/blog_ngayhoiclb.jpg' alt='')
                  a(style="text-align:center").blog_item_date(href='#')
                    h3 5
                    p 十月
                .blog_details
                  a.d-inline-block(href='/blog_details')
                    h2.blog-head(style='color: #2d2d2d;') Wakame tham gia ngày hội Câu lạc bộ
                  p
                    | Trải qua 2 ngày hoạt động sự kiện Chào Tân sinh viên K15.
                    | Tuy sự kiện chỉ diễn ra trong vòng 2 ngày ngắn ngủi nhưng 
                    | các bạn đã làm cho CLB thấy được sự năng nổ, tích cực trong bản thân các bạn!
                    | Sự thông minh, khéo léo và tính kiên trì của các bạn được thể hiện rõ trong 
                    | các trò chơi do CLB tổ chức.
                  ul.blog-info-link
                    li
                      a(href='#')
                        i.fa.fa-user
                        |  Nguyễn Phương Nam
                    li
                      a(href='#')
                        i.fa.fa-comments
                        |  20 bình luận
              article.blog_item
                .blog_item_img
                  img.card-img.rounded-0(src='assets/img/blog/blog_talkshow.jpg' alt='')
                  a(style="text-align:center").blog_item_date(href='#')
                    h3 10
                    p 七月
                .blog_details
                  a.d-inline-block(href='/blog_details')
                    h2.blog-head(style='color: #2d2d2d;') Talkshow Ngôn ngữ &amp; văn hóa Nhật Bản
                  p
                    | Buổi Talkshow được tổ chức nhằm giúp các bạn sinh viên có một cái nhìn 
                    | tổng quan hơn về văn hoá doanh nghiệp của các công ty Nhật Bản tại Việt Nam. 
                    | Đồng thời giúp cho các bạn sinh viên có định hướng rõ ràng trong việc học 
                    | tiếng Nhật của mình để nhanh chóng đạt được mục tiêu mà các bạn mong muốn. 
                  ul.blog-info-link
                    li
                      a(href='#')
                        i.fa.fa-user
                        |  Hoàng Nguyên Phương
                    li
                      a(href='#')
                        i.fa.fa-comments
                        |  30 bình luận
              article.blog_item
                .blog_item_img
                  img.card-img.rounded-0(src='assets/img/blog/blog_hoithao.jpg' alt='')
                  a(style="text-align:center").blog_item_date(href='#')
                    h3 25
                    p 十二月
                .blog_details
                  a.d-inline-block(href='/blog_details')
                    h2.blog-head(style='color: #2d2d2d;') Hội thảo Work in Japan
                  p
                    | Nhật Bản là một trong những quốc gia hàng đầu trong lĩnh vực 
                    | nghiên cứu khoa học, công nghệ, thiết bị và nghiên cứu y học 
                    | với ngân sách lớn thứ ba thế giới cho nghiên cứu và phát triển.  
                    | Đất nước nơi hầu hết sinh viên muốn làm việc và sống với chế độ và mức lương đặc biệt.
                  ul.blog-info-link
                    li
                      a(href='#')
                        i.fa.fa-user
                        |  Phạm Vũ Kiều Tiên
                    li
                      a(href='#')
                        i.fa.fa-comments
                        |  24 bình luận
              nav.blog-pagination.justify-content-center.d-flex
                ul.pagination
                  li.page-item
                    a.page-link(href='#' aria-label='Previous')
                      i.ti-angle-left
                  li.page-item
                    a.page-link(href='#') 1
                  li.page-item.active
                    a.page-link(href='#') 2
                  li.page-item
                    a.page-link(href='#' aria-label='Next')
                      i.ti-angle-right
          .col-lg-4
            .blog_right_sidebar
              aside.single_sidebar_widget.search_widget
                form(action='#')
                  .form-group
                    .input-group.mb-3
                      input.form-control(type='text' placeholder='Tìm kiếm từ khóa' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tìm kiếm từ khóa'")
                      .input-group-append
                        button.btns(type='button')
                          i.ti-search
                  button.button.rounded-0.primary-bg.text-white.w-100.btn_1.boxed-btn(type='submit') Tìm kiếm
              aside.single_sidebar_widget.post_category_widget
                h4.widget_title(style='color: #2d2d2d;') Lĩnh vực
                ul.list.cat-list
                  li
                    a.d-flex(href='#')
                      p Học tập
                      p &nbsp;(37)
                  li
                    a.d-flex(href='#')
                      p Du học
                      p &nbsp;(10)
                  li
                    a.d-flex(href='#')
                      p Kinh nghiệm đời sống
                      p &nbsp;(03)
                  li
                    a.d-flex(href='#')
                      p Ôn thi
                      p &nbsp;(11)
                  li
                    a.d-flex(href='#')
                      p Kỹ năng mềm
                      p &nbsp;(21)
                  li
                    a.d-flex(href='#')
                      p Sức khỏe
                      p &nbsp;(09)
              aside.single_sidebar_widget.popular_post_widget
                h3.widget_title(style='color: #2d2d2d;') Bài viết gần đây
                .media.post_item
                  img(src='assets/img/post/qtpn.jpg' alt='post' style="width:100px;height:70px;margin-top:0px")
                  .media-body
                    a(href='/blog_details')
                      h3(style='color: #2d2d2d;') Ngày Quốc tế Phụ nữ 
                    p ２０２１年３月８日
                .media.post_item
                  img(src='assets/img/post/pnvn.jpg' alt='post' style="width:100px;height:70px;margin-top:0px")
                  .media-body
                    a(href='/blog_details')
                      h3(style='color: #2d2d2d;') Ngày Phụ nữ Việt Nam 
                    p ２０２０年１０月２０日
                .media.post_item
                  img(src='assets/img/post/mext.jpg' alt='post' style="width:100px;height:70px;margin-top:0px")
                  .media-body
                    a(href='/blog_details')
                      h3(style='color: #2d2d2d;') Học bổng du học MEXT
                    p ３時前　
                .media.post_item
                  img(src='assets/img/post/jlpt.jpg' alt='post' style="width:100px;height:70px;margin-top:0px")
                  .media-body
                    a(href='/blog_details')
                      h3(style='color: #2d2d2d;') Kỳ thi JLPT Tháng 7/2021
                    p １０分前　
              aside.single_sidebar_widget.tag_cloud_widget
                h4.widget_title(style='color: #2d2d2d;') Tag 
                ul.list
                  li
                    a(href='#') #wakame
                  li
                    a(href='#') #love
                  li
                    a(href='#') #study
                  li
                    a(href='#') #duhoc
                  li
                    a(href='#') #hocbong
                  li
                    a(href='#') #UIT
                  li
                    a(href='#') #game
                  li
                    a(href='#') #talkshow
              aside.single_sidebar_widget.instagram_feeds
                h4.widget_title(style='color: #2d2d2d;') Instagram New Feeds
                ul.instagram_row.flex-wrap
                  li
                    a(href='#')
                      img.img-fluid(src='assets/img/post/post_5.png' alt='')
                  li
                    a(href='#')
                      img.img-fluid(src='assets/img/post/post_6.png' alt='')
                  li
                    a(href='#')
                      img.img-fluid(src='assets/img/post/post_7.png' alt='')
                  li
                    a(href='#')
                      img.img-fluid(src='assets/img/post/post_8.png' alt='')
                  li
                    a(href='#')
                      img.img-fluid(src='assets/img/post/post_9.png' alt='')
                  li
                    a(href='#')
                      img.img-fluid(src='assets/img/post/post_10.png' alt='')
              aside.single_sidebar_widget.newsletter_widget
                h4.widget_title(style='color: #2d2d2d;') Nhận tin tức
                form(action='#')
                  .form-group
                    input.form-control(type='email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email của bạn'" placeholder='Enter email' required='')
                  button.button.rounded-0.primary-bg.text-white.w-100.btn_1.boxed-btn(type='submit') Subscribe
    // Blog Area End
  