doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title Courses | Education
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico')
  // CSS here
  link(rel='stylesheet' href='assets/css/bootstrap.min.css')
  link(rel='stylesheet' href='assets/css/owl.carousel.min.css')
  link(rel='stylesheet' href='assets/css/slicknav.css')
  link(rel='stylesheet' href='assets/css/animate.min.css')
  link(rel='stylesheet' href='assets/css/hamburgers.min.css')
  link(rel='stylesheet' href='assets/css/magnific-popup.css')
  link(rel='stylesheet' href='assets/css/fontawesome-all.min.css')
  link(rel='stylesheet' href='assets/css/themify-icons.css')
  link(rel='stylesheet' href='assets/css/slick.css')
  link(rel='stylesheet' href='assets/css/nice-select.css')
  link(rel='stylesheet' href='assets/css/style.css')
// ? Preloader Start
#preloader-active
  .preloader.d-flex.align-items-center.justify-content-center
    .preloader-inner.position-relative
      .preloader-circle
      .preloader-img.pere-text
        img(src='assets/img/logo/loder.png' alt='')
// Preloader Start
// Header Start
.header-area.header-transparent
  .main-header
    .header-bottom.header-sticky
      .container-fluid
        .row.align-items-center
          // Logo
          .col-xl-2.col-lg-2
            .logo
              a(href='index.html')
                img(src='assets/img/logo/logo.png' alt='')
          .col-xl-10.col-lg-10
            .menu-wrapper.d-flex.align-items-center.justify-content-end
              // Main-menu
              .main-menu.d-none.d-lg-block
                nav
                  ul#navigation
                    li.active
                      a(href='index.html') Home
                    li
                      a(href='courses.html') Courses
                    li
                      a(href='about.html') About
                    li
                      a(href='#') Blog
                      ul.submenu
                        li
                          a(href='blog.html') Blog
                        li
                          a(href='blog_details.html') Blog Details
                        li
                          a(href='elements.html') Element
                    li
                      a(href='contact.html') Contact
                    // Button
                    li.button-header.margin-left
                      a.btn(href='#') Join
                    li.button-header
                      a.btn.btn3(href='login.html') Log in
          // Mobile Menu
          .col-12
            .mobile_menu.d-block.d-lg-none
// Header End
main
  // ? slider Area Start
  section.slider-area.slider-area2
    .slider-active
      // Single Slider
      .single-slider.slider-height2
        .container
          .row
            .col-xl-8.col-lg-11.col-md-12
              .hero__caption.hero__caption2
                h1(data-animation='bounceIn' data-delay='0.2s') Company insights
                // breadcrumb Start
                nav(aria-label='breadcrumb')
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html') Home
                    li.breadcrumb-item
                      a(href='#') Blog
                // breadcrumb End
  // ? Blog Area Start
  section.blog_area.single-post-area.section-padding
    .container
      .row
        .col-lg-8.posts-list
          .single-post
            .feature-img
              img.img-fluid(src='assets/img/blog/single_blog_1.png' alt='')
            .blog_details
              h2(style='color: #2d2d2d;')
                | Second divided from form fish beast made every of seas
                | all gathered us saying he our
              ul.blog-info-link.mt-3.mb-4
                li
                  a(href='#')
                    i.fa.fa-user
                    |  Travel, Lifestyle
                li
                  a(href='#')
                    i.fa.fa-comments
                    |  03 Comments
              p.excert
                | MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                | should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                | fraction of the camp price. However, who has the willpower
              p
                | MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                | should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                | fraction of the camp price. However, who has the willpower to actually sit through a
                | self-imposed MCSE training. who has the willpower to actually
              .quote-wrapper
                .quotes
                  | MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                  | should have to spend money on boot camp when you can get the MCSE study materials yourself at
                  | a fraction of the camp price. However, who has the willpower to actually sit through a
                  | self-imposed MCSE training.
              p
                | MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                | should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                | fraction of the camp price. However, who has the willpower
              p
                | MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                | should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                | fraction of the camp price. However, who has the willpower to actually sit through a
                | self-imposed MCSE training. who has the willpower to actually
          .navigation-top
            .d-sm-flex.justify-content-between.text-center
              p.like-info
                span.align-middle
                  i.fa.fa-heart
                |  Lily and 4
                |                   people like this
              .col-sm-4.text-center.my-2.my-sm-0
                // <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p>
              ul.social-icons
                li
                  a(href='https://www.facebook.com/sai4ull')
                    i.fab.fa-facebook-f
                li
                  a(href='#')
                    i.fab.fa-twitter
                li
                  a(href='#')
                    i.fab.fa-dribbble
                li
                  a(href='#')
                    i.fab.fa-behance
            .navigation-area
              .row
                .col-lg-6.col-md-6.col-12.nav-left.flex-row.d-flex.justify-content-start.align-items-center
                  .thumb
                    a(href='#')
                      img.img-fluid(src='assets/img/post/preview.png' alt='')
                  .arrow
                    a(href='#')
                      span.lnr.text-white.ti-arrow-left
                  .detials
                    p Prev Post
                    a(href='#')
                      h4(style='color: #2d2d2d;') Space The Final Frontier
                .col-lg-6.col-md-6.col-12.nav-right.flex-row.d-flex.justify-content-end.align-items-center
                  .detials
                    p Next Post
                    a(href='#')
                      h4(style='color: #2d2d2d;') Telescopes 101
                  .arrow
                    a(href='#')
                      span.lnr.text-white.ti-arrow-right
                  .thumb
                    a(href='#')
                      img.img-fluid(src='assets/img/post/next.png' alt='')
          .blog-author
            .media.align-items-center
              img(src='assets/img/blog/author.png' alt='')
              .media-body
                a(href='#')
                  h4 Harvard milan
                p
                  | Second divided from form fish beast made. Every of seas all gathered use saying you&apos;re, he
                  | our dominion twon Second divided from
          .comments-area
            h4 05 Comments
            .comment-list
              .single-comment.justify-content-between.d-flex
                .user.justify-content-between.d-flex
                  .thumb
                    img(src='assets/img/blog/comment_1.png' alt='')
                  .desc
                    p.comment
                      | Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                      | Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                    .d-flex.justify-content-between
                      .d-flex.align-items-center
                        h5
                          a(href='#') Emilly Blunt
                        p.date December 4, 2017 at 3:12 pm 
                      .reply-btn
                        a.btn-reply.text-uppercase(href='#') reply
            .comment-list
              .single-comment.justify-content-between.d-flex
                .user.justify-content-between.d-flex
                  .thumb
                    img(src='assets/img/blog/comment_2.png' alt='')
                  .desc
                    p.comment
                      | Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                      | Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                    .d-flex.justify-content-between
                      .d-flex.align-items-center
                        h5
                          a(href='#') Emilly Blunt
                        p.date December 4, 2017 at 3:12 pm 
                      .reply-btn
                        a.btn-reply.text-uppercase(href='#') reply
            .comment-list
              .single-comment.justify-content-between.d-flex
                .user.justify-content-between.d-flex
                  .thumb
                    img(src='assets/img/blog/comment_3.png' alt='')
                  .desc
                    p.comment
                      | Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                      | Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                    .d-flex.justify-content-between
                      .d-flex.align-items-center
                        h5
                          a(href='#') Emilly Blunt
                        p.date December 4, 2017 at 3:12 pm 
                      .reply-btn
                        a.btn-reply.text-uppercase(href='#') reply
          .comment-form
            h4 Leave a Reply
            form#commentForm.form-contact.comment_form(action='#')
              .row
                .col-12
                  .form-group
                    textarea#comment.form-control.w-100(name='comment' cols='30' rows='9' placeholder='Write Comment')
                .col-sm-6
                  .form-group
                    input#name.form-control(name='name' type='text' placeholder='Name')
                .col-sm-6
                  .form-group
                    input#email.form-control(name='email' type='email' placeholder='Email')
                .col-12
                  .form-group
                    input#website.form-control(name='website' type='text' placeholder='Website')
              .form-group
                button.button.button-contactForm.btn_1.boxed-btn(type='submit') Post Comment
        .col-lg-4
          .blog_right_sidebar
            aside.single_sidebar_widget.search_widget
              form(action='#')
                .form-group
                  .input-group.mb-3
                    input.form-control(type='text' placeholder='Search Keyword' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'")
                    .input-group-append
                      button.btns(type='button')
                        i.ti-search
                button.button.rounded-0.primary-bg.text-white.w-100.btn_1.boxed-btn(type='submit') Search
            aside.single_sidebar_widget.post_category_widget
              h4.widget_title(style='color: #2d2d2d;') Category
              ul.list.cat-list
                li
                  a.d-flex(href='#')
                    p Resaurant food
                    p (37)
                li
                  a.d-flex(href='#')
                    p Travel news
                    p (10)
                li
                  a.d-flex(href='#')
                    p Modern technology
                    p (03)
                li
                  a.d-flex(href='#')
                    p Product
                    p (11)
                li
                  a.d-flex(href='#')
                    p Inspiration
                    p (21)
                li
                  a.d-flex(href='#')
                    p Health Care
                    p (21)
            aside.single_sidebar_widget.popular_post_widget
              h3.widget_title(style='color: #2d2d2d;') Recent Post
              .media.post_item
                img(src='assets/img/post/post_1.png' alt='post')
                .media-body
                  a(href='blog_details.html')
                    h3(style='color: #2d2d2d;') From life was you fish...
                  p January 12, 2019
              .media.post_item
                img(src='assets/img/post/post_2.png' alt='post')
                .media-body
                  a(href='blog_details.html')
                    h3(style='color: #2d2d2d;') The Amazing Hubble
                  p 02 Hours ago
              .media.post_item
                img(src='assets/img/post/post_3.png' alt='post')
                .media-body
                  a(href='blog_details.html')
                    h3(style='color: #2d2d2d;') Astronomy Or Astrology
                  p 03 Hours ago
              .media.post_item
                img(src='assets/img/post/post_4.png' alt='post')
                .media-body
                  a(href='blog_details.html')
                    h3(style='color: #2d2d2d;') Asteroids telescope
                  p 01 Hours ago
            aside.single_sidebar_widget.tag_cloud_widget
              h4.widget_title(style='color: #2d2d2d;') Tag Clouds
              ul.list
                li
                  a(href='#') project
                li
                  a(href='#') love
                li
                  a(href='#') technology
                li
                  a(href='#') travel
                li
                  a(href='#') restaurant
                li
                  a(href='#') life style
                li
                  a(href='#') design
                li
                  a(href='#') illustration
            aside.single_sidebar_widget.instagram_feeds
              h4.widget_title(style='color: #2d2d2d;') Instagram Feeds
              ul.instagram_row.flex-wrap
                li
                  a(href='#')
                    img.img-fluid(src='assets/img/post/post_5.png' alt='')
                li
                  a(href='#')
                    img.img-fluid(src='assets/img/post/post_6.png' alt='')
                li
                  a(href='#')
                    img.img-fluid(src='assets/img/post/post_7.png' alt='')
                li
                  a(href='#')
                    img.img-fluid(src='assets/img/post/post_8.png' alt='')
                li
                  a(href='#')
                    img.img-fluid(src='assets/img/post/post_9.png' alt='')
                li
                  a(href='#')
                    img.img-fluid(src='assets/img/post/post_10.png' alt='')
            aside.single_sidebar_widget.newsletter_widget
              h4.widget_title(style='color: #2d2d2d;') Newsletter
              form(action='#')
                .form-group
                  input.form-control(type='email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required='')
                button.button.rounded-0.primary-bg.text-white.w-100.btn_1.boxed-btn(type='submit') Subscribe
  // Blog Area End
footer
  .footer-wrappper.footer-bg
    // Footer Start
    .footer-area.footer-padding
      .container
        .row.justify-content-between
          .col-xl-4.col-lg-5.col-md-4.col-sm-6
            .single-footer-caption.mb-50
              .single-footer-caption.mb-30
                // logo
                .footer-logo.mb-25
                  a(href='index.html')
                    img(src='assets/img/logo/logo2_footer.png' alt='')
                .footer-tittle
                  .footer-pera
                    p The automated process starts as soon as your clothes go into the machine.
                // social
                .footer-social
                  a(href='#')
                    i.fab.fa-twitter
                  a(href='https://bit.ly/sai4ull')
                    i.fab.fa-facebook-f
                  a(href='#')
                    i.fab.fa-pinterest-p
          .col-xl-2.col-lg-3.col-md-4.col-sm-5
            .single-footer-caption.mb-50
              .footer-tittle
                h4 Our solutions
                ul
                  li
                    a(href='#') Design &amp; creatives
                  li
                    a(href='#') Telecommunication
                  li
                    a(href='#') Restaurant
                  li
                    a(href='#') Programing
                  li
                    a(href='#') Architecture
          .col-xl-2.col-lg-4.col-md-4.col-sm-6
            .single-footer-caption.mb-50
              .footer-tittle
                h4 Support
                ul
                  li
                    a(href='#') Design &amp; creatives
                  li
                    a(href='#') Telecommunication
                  li
                    a(href='#') Restaurant
                  li
                    a(href='#') Programing
                  li
                    a(href='#') Architecture
          .col-xl-2.col-lg-3.col-md-4.col-sm-6
            .single-footer-caption.mb-50
              .footer-tittle
                h4 Company
                ul
                  li
                    a(href='#') Design &amp; creatives
                  li
                    a(href='#') Telecommunication
                  li
                    a(href='#') Restaurant
                  li
                    a(href='#') Programing
                  li
                    a(href='#') Architecture
    // footer-bottom area
    .footer-bottom-area
      .container
        .footer-border
          .row.d-flex.align-items-center
            .col-xl-12
              .footer-copy-right.text-center
                p
                  // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                  | Copyright &copy;
                  script.
                    document.write(new Date().getFullYear());
                  |  All rights reserved | This template is made with 
                  i.fa.fa-heart(aria-hidden='true')
                  |  by 
                  a(href='https://colorlib.com' target='_blank') Colorlib
                  // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
    // Footer End
// Scroll Up
#back-top
  a(title='Go to Top' href='#')
    i.fas.fa-level-up-alt
// JS here
script(src='./assets/js/vendor/modernizr-3.5.0.min.js')
// Jquery, Popper, Bootstrap
script(src='./assets/js/vendor/jquery-1.12.4.min.js')
script(src='./assets/js/popper.min.js')
script(src='./assets/js/bootstrap.min.js')
// Jquery Mobile Menu
script(src='./assets/js/jquery.slicknav.min.js')
// Jquery Slick , Owl-Carousel Plugins
script(src='./assets/js/owl.carousel.min.js')
script(src='./assets/js/slick.min.js')
// One Page, Animated-HeadLin
script(src='./assets/js/wow.min.js')
script(src='./assets/js/animated.headline.js')
script(src='./assets/js/jquery.magnific-popup.js')
// Date Picker
script(src='./assets/js/gijgo.min.js')
// Nice-select, sticky
script(src='./assets/js/jquery.nice-select.min.js')
script(src='./assets/js/jquery.sticky.js')
// counter , waypoint,Hover Direction
script(src='./assets/js/jquery.counterup.min.js')
script(src='./assets/js/waypoints.min.js')
script(src='./assets/js/jquery.countdown.min.js')
script(src='./assets/js/hover-direction-snake.min.js')
// contact js
script(src='./assets/js/contact.js')
script(src='./assets/js/jquery.form.js')
script(src='./assets/js/jquery.validate.min.js')
script(src='./assets/js/mail-script.js')
script(src='./assets/js/jquery.ajaxchimp.min.js')
// Jquery Plugins, main Jquery
script(src='./assets/js/plugins.js')
script(src='./assets/js/main.js')
