extends layout.pug 
block title 
  title Tài liệu | Wakame
block main 
  main
    // ? slider Area Start
    section.slider-area.slider-area2
      .slider-active
        // Single Slider
        .single-slider.slider-height2
          .container
            .row
              .col-xl-8.col-lg-11.col-md-12
                .hero__caption.hero__caption2
                  h1(data-animation='bounceIn' data-delay='0.2s') Tài liệu
                  // breadcrumb Start
                  nav(aria-label='breadcrumb')
                    ol.breadcrumb
                      li.breadcrumb-item
                        a(href='/') Trang chủ
                      li.breadcrumb-item
                        a(href='/books') Tài liệu
                  // breadcrumb End
    // ?  Contact Area start
  - var cardText1 = 'Manga | Truyện dài tập';
  - var cardText2 = 'This is a wider card with supporting text below as a natural lead-in to additional content.';
  - var cardText3 = 'Sách học tiếng Nhật';
  - var cardText4 = 'Tiểu thuyết tiếng Nhật';
  - var cardText5 = 'Sách học bảng chữ cái Hiragana tiếng Nhật';
  - var cardText6 = 'This is a wider card with supporting text below as a natural lead-in to additional content.';
  - var cardText7 = 'Sách luyện đọc tiếng Nhật';
  - var cardText8 = 'This is a wider card with supporting text below as a natural lead-in to additional content.';
  - var cardTitle1 = 'ドラえもん';
  - var cardTitle2 = '犬夜叉';
  - var cardTitle3 = 'げんき';
  - var cardTitle4 = 'ねじまき鳥クロニクル';
  - var cardTitle5 = "Let's learn Hiragana";
  - var cardTitle6 = '鬼滅の刃';
  - var cardTitle7 = '十分で読める';
  - var cardTitle8 = '日本語Ｎｏｗ';
  - var cards =[{'title':cardTitle1,'image':'book16.jpg','text':cardText1},{'title':cardTitle2,'image':'book28.jpg','text':cardText1},{'title':cardTitle3,'image':'book20.jfif','text':cardText3},{'title':cardTitle4,'image':'book14.jpg','text':cardText4},{'title':cardTitle5,'image':'book25.jpg','text':cardText5},{'title':cardTitle6,'image':'book29.jpg','text':cardText1},{'title':cardTitle7,'image':'book26.jpg','text':cardText7},{'title':cardTitle8,'image':'book21.tif','text':cardText3}];
  
  section.section-padding
    .container
      .blog_right_sidebar
        aside.single_sidebar_widget.search_widget(style='padding:0')
            .form-group
              .input-group.mb-3
                input.form-control(type='text' placeholder='Tìm kiếm tài liệu' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tìm kiếm tài liệu'")
                .input-group-append
                  button.btns(type='button')
                    i.ti-search
      .comments-area(style='border-top:none;margin-top:60px;padding:0')
        h2(style="border-bottom:3px solid #4255A4;padding-bottom:10px") Được tìm kiếm nhiều nhất
      .container-books
        .card-columns
          each card in cards
            .card.border-0.text-white
              a.stretched-link(href='/booksdetail')
                img.card-img.rounded-0(src='assets/img/gallery/'+card.image)
                .card-img-overlay.p-0
                  .card-block
                    h1.card-title= card.title
                    p.card-text= card.text