doctype html
head
  script(src='https://cdn.tiny.cloud/1/z0qez48sbqyuip9s382cicowvftudtqj0a8wo4sqr4kqbcdb/tinymce/5/tinymce.min.js' referrerpolicy='origin')
form
  textarea(id="basic-conf")
    | Welcome to TinyMCE!
button(onclick = "getdata()") Gửi
script.
  tinymce.init({
  selector: '#basic-conf',
  //width: 600,
  height: 600,
  plugins: [
    'advlist autolink link image lists charmap print preview hr anchor pagebreak',
    'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
    'table emoticons template paste help'
  ],
  toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
    'bullist numlist outdent indent | paste | link image | print preview media fullpage | ' +
    'forecolor backcolor emoticons | help',
  menu: {
    favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons'}
  },
  menubar: 'favs file edit view insert format tools table help',
  content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }',
  paste_block_drop: false
  });
  function getdata(){
    let data = tinyMCE.activeEditor.getContent({format : 'raw'});
    var xhr = new XMLHttpRequest();
    xhr.open("POST", 'http://localhost:3000/captcha', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify({
    content: data
  }));
    console.log(data)
  }