extends layout.pug 
block title 
  title Khóa học | Wakame
block main 
  main
    // ? slider Area Start
    section.slider-area.slider-area2
      .slider-active
        // Single Slider
        .single-slider.slider-height2
          .container
            .row
              .col-xl-8.col-lg-11.col-md-12
                .hero__caption.hero__caption2
                  h1(data-animation='bounceIn' data-delay='0.2s') Khóa học 
                  // breadcrumb Start
                  nav(aria-label='breadcrumb')
                    ol.breadcrumb
                      li.breadcrumb-item
                        a(href='/') Trang chủ
                      li.breadcrumb-item
                        a(href='/courses') Khóa học
                  // breadcrumb End
    // Courses area start
    .courses-area.section-padding40.fix
      .container
        .row.justify-content-center
          .col-xl-7.col-lg-8
            .section-tittle.text-center.mb-55
              h2 Các khóa học nổi bật
        .row
          .col-lg-4
            .properties.properties2.mb-30
              .properties__card(style='height: 95%;')
                .properties__img.overlay1
                  a(href='#')
                    img(src='assets/img/gallery/course_time.jpg' alt='' style="width:340px;height:280px;margin-top: 0")
                .properties__caption
                  p Nguyễn Thị Hoa
                  h3
                    a(href='#') Quản lý thời gian hiệu quả
                  p 
                    |- Thời gian có là “kim cương, vàng, bạc”?
                    br
                    |- Bạn đang “làm chủ” thời gian hay đang là “nô lệ”?
                    br
                    |- Bạn làm gì với thời gian một ngày 24 tiếng?
                  a.border-btn.border-btn2(href='/coursesdetail') Tìm hiểu thêm
          .col-lg-4
            .properties.properties2.mb-30
              .properties__card(style='height: 95%;')
                .properties__img.overlay1
                  a(href='#')
                    img(src='assets/img/gallery/course_giaotiepsocap.jpg' alt='' style="width:340px;height:280px;margin-top: 0")
                .properties__caption
                  p Shin Suzuki
                  h3
                    a(href='#') Combo N3-N2-N1
                  p
                    | - Tiết kiệm chi phí hơn cho bạn. 
                    br
                    | - Thời gian học dài hơn 2 lần khoá thường. 
                    br
                    | - Các ưu đãi, đặc quyền chỉ có ở gói combo.
                  a.border-btn.border-btn2(href='/coursesdetail') Tìm hiểu thêm
          .col-lg-4
            .properties.properties2.mb-30
              .properties__card(style='height: 95%;')
                .properties__img.overlay1
                  a(href='#')
                    img(src='assets/img/gallery/course_flirt.jpg' alt='' style="width:340px;height:280px;margin-top: 0")
                .properties__caption
                  p Phan Thanh Lệ
                  h3
                    a(href='#') Cách tán gái bằng tiếng Nhật
                  p
                    | Bạn muốn tỏ tình với người thương bằng tiếng Nhật? Hay bạn muốn có một màn tỏ tình khó quên? Vậy đừng bỏ qua khóa học thú vị này của Wakame để biết được những kinh nghiệm tỏ tình hiệu quả nhé!
                  a.border-btn.border-btn2(href='/coursesdetail') Tìm hiểu thêm
          .col-lg-4
            .properties.properties2.mb-30
              .properties__card(style='height: 95%;')
                .properties__img.overlay1
                  a(href='#')
                    img(src='assets/img/gallery/course_giaotieptrungcap.jpg' alt='' style="width:340px;height:280px;margin-top: 0")
                .properties__caption
                  p 平山淳子 - Junko Hirayama
                  h3
                    a(href='#') Giao tiếp tiếng Nhật trung cấp
                  p
                    | Khóa học phù hợp với những bạn đã đạt chứng chỉ tiếng Nhật sơ cấp, 
                    | muốn rút ngắn thời gian để du học, giao tiếp và làm việc ở công ty 
                    | Nhật, ở trường học, hoặc tham gia vào các kỳ thi năng lực tiếng Nhật.
                  a.border-btn.border-btn2(href='/coursesdetail') Tìm hiểu thêm
          .col-lg-4
            .properties.properties2.mb-30
              .properties__card(style='height: 95%;')
                .properties__img.overlay1
                  a(href='#')
                    img(src='assets/img/gallery/course_socap.jpg' alt='' style="width:340px;height:280px;margin-top: 0")
                .properties__caption
                  p 平山淳子 - Junko Hirayama
                  h3
                    a(href='#') Khóa học cấp tốc sơ cấp
                  p
                    | Khóa học phù hợp với những bạn
                    | muốn rút ngắn thời gian để du học hay lao động tại Nhật Bản.
                    | Đảm bảo đủ kiến thức và kỹ năng thi JLPT sơ cấp. 
                    | Tự tin giao tiếp, tham gia phỏng vấn du học trực tiếp với các trường Nhật Bản.
                  a.border-btn.border-btn2(href='/coursesdetail') Tìm hiểu thêm
          .col-lg-4
            .properties.properties2.mb-30
              .properties__card(style='height: 95%;')
                .properties__img.overlay1
                  a(href='#')
                    img(src='assets/img/gallery/course_business.jpg' alt='' style="width:340px;height:280px;margin-top: 0")
                .properties__caption
                  p Dương Thị Thương
                  h3
                    a(href='#') Tiếng Nhật thương mại
                  p
                    | Khóa học dành cho các ứng viên đi làm tại 
                    | các công ty Nhật bản, Khóa học Giao dịch 
                    | thương mại qua Email, Khóa học Biên phiên dịch 
                    | chuyên ngành kinh tế, Khóa học Giao tiếp Tiếng Nhật 
                    | trong văn phòng. 
                  a.border-btn.border-btn2(href='/coursesdetail') Tìm hiểu thêm
        .row.justify-content-center
          .col-xl-7.col-lg-8
            .section-tittle.text-center.mt-40
              a.border-btn(href='#') Xem thêm
    // Courses area End
    // ? top subjects Area Start
    .topic-area
      .container
        .row.justify-content-center
          .col-xl-7.col-lg-8
            .section-tittle.text-center.mb-55
              h2 Top chủ đề khóa học
        .row
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/manner.png' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Công sở
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/du_hoc.jpg' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Du học
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/kanji.png' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Kanji
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/tu_vung.png' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Từ vựng
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/nghe_hieu.jpg' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Nghe hiểu
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/doc_hieu.jpg' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Đọc hiểu
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/ngu_phap.jpg' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Ngữ pháp
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/on_thi.png' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Ôn thi
        .row.justify-content-center
          .col-xl-12
            .section-tittle.text-center.mt-20(style="margin-bottom:50px")
              a.border-btn(href='/courses') Xem tất cả
    // top subjects End
