<<<<<<< HEAD
doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title Khóa học | Wakame
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='manifest' href='site.webmanifest')
  link(rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico')
  // CSS here
  link(rel='stylesheet' href='assets/css/bootstrap.min.css')
  link(rel='stylesheet' href='assets/css/owl.carousel.min.css')
  link(rel='stylesheet' href='assets/css/slicknav.css')
  link(rel='stylesheet' href='assets/css/flaticon.css')
  link(rel='stylesheet' href='assets/css/progressbar_barfiller.css')
  link(rel='stylesheet' href='assets/css/gijgo.css')
  link(rel='stylesheet' href='assets/css/animate.min.css')
  link(rel='stylesheet' href='assets/css/animated-headline.css')
  link(rel='stylesheet' href='assets/css/magnific-popup.css')
  link(rel='stylesheet' href='assets/css/fontawesome-all.min.css')
  link(rel='stylesheet' href='assets/css/themify-icons.css')
  link(rel='stylesheet' href='assets/css/slick.css')
  link(rel='stylesheet' href='assets/css/nice-select.css')
  link(rel='stylesheet' href='assets/css/style.css')
// ? Preloader Start
#preloader-active
  .preloader.d-flex.align-items-center.justify-content-center
    .preloader-inner.position-relative
      .preloader-circle
      .preloader-img.pere-text
        img(src='assets/img/logo/onion_logo.svg' alt='' style='width:120px; height:50px;')
// Preloader Start
// Header Start
.header-area.header-transparent
  .main-header
    .header-bottom.header-sticky
      .container-fluid
        .row.align-items-center
          // Logo
          .col-xl-2.col-lg-2
            .logo
              a(href='/')
                img(src='assets/img/logo/wakame_logo.svg' alt='' style='width:350px; height:90px;')
          .col-xl-10.col-lg-10
            .menu-wrapper.d-flex.align-items-center.justify-content-end
              // Main-menu
              .main-menu.d-none.d-lg-block
                nav
                  ul#navigation
                    li.active
                      a(href='/') Trang chủ
                    li
                      a(href='/courses' style="color:#ffc107; font-weight:bold") Khóa học
                    li
                      a(href='/about') Về chúng tôi
                    li
                      a(href='/blog') Blog
                      ul.submenu
                        li
                          a(href='/blog') Blog
                        li
                          a(href='/blogdetail') Blog Details
                        li
                          a(href='elements.html') Element
                    li
                      a(href='/contact') Liên hệ
                    // Button
                    li.button-header.margin-left
                      a.btn(href='/register') Đăng ký
                    li.button-header
                      a.btn.btn3(href='/login') Đăng nhập
          // Mobile Menu
          .col-12
            .mobile_menu.d-block.d-lg-none
// Header End
main
  // ? slider Area Start
  section.slider-area.slider-area2
    .slider-active
      // Single Slider
      .single-slider.slider-height2
        .container
          .row
            .col-xl-8.col-lg-11.col-md-12
              .hero__caption.hero__caption2
                h1(data-animation='bounceIn' data-delay='0.2s') Các khóa học 
                // breadcrumb Start
                nav(aria-label='breadcrumb')
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='/') Trang chủ
                    li.breadcrumb-item
                      a(href='/courses') Khóa học
                // breadcrumb End
  // Courses area start
  .courses-area.section-padding40.fix
    .container
      .row.justify-content-center
        .col-xl-7.col-lg-8
          .section-tittle.text-center.mb-55
            h2 Các khóa học nổi bật
      .row
        .col-lg-4
          .properties.properties2.mb-30
            .properties__card
              .properties__img.overlay1
                a(href='/courses_details')
                  img(src='assets/img/gallery/course_time.jpg' alt='' style="width:340px;height:280px;margin-top: 0")
              .properties__caption
                p Nguyễn Thị Hoa
                h3
                  a(href='/courses_details') Quản lý thời gian hiệu quả
                p 
                  |- Thời gian có là “kim cương, vàng, bạc”?
                  br
                  |- Bạn đang “làm chủ” thời gian hay đang là “nô lệ”?
                  br
                  |- Bạn làm gì với thời gian một ngày 24 tiếng?
                a.border-btn.border-btn2(href='/courses_details') Tìm hiểu thêm
        .col-lg-4
          .properties.properties2.mb-30
            .properties__card
              .properties__img.overlay1
                a(href='/courses_details')
                  img(src='assets/img/gallery/course_giaotiepsocap.jpg' alt='' style="width:340px;height:280px;margin-top: 0")
              .properties__caption
                p Shin Suzuki
                h3
                  a(href='/courses_details') Combo N3-N2-N1
                p
                  | - Tiết kiệm chi phí hơn cho bạn. 
                  br
                  | - Thời gian học dài hơn 2 lần khoá thường. 
                  br
                  | - Các ưu đãi, đặc quyền chỉ có ở gói combo.
                a.border-btn.border-btn2(href='/courses_details') Tìm hiểu thêm
        .col-lg-4
          .properties.properties2.mb-30
            .properties__card
              .properties__img.overlay1
                a(href='/courses_details')
                  img(src='assets/img/gallery/course_flirt.jpg' alt='' style="width:340px;height:280px;margin-top: 0")
              .properties__caption
                p Phan Thanh Lệ
                h3
                  a(href='/courses_details') Cách tán gái bằng tiếng Nhật
                p
                  | Bạn muốn tỏ tình với người thương bằng tiếng Nhật? Hay bạn muốn có một màn tỏ tình khó quên? Vậy đừng bỏ qua khóa học thú vị này của Wakame để biết được những kinh nghiệm tỏ tình hiệu quả nhé!
                a.border-btn.border-btn2(href='#') Tìm hiểu thêm
        .col-lg-4
          .properties.properties2.mb-30
            .properties__card
              .properties__img.overlay1
                a(href='/courses_details')
                  img(src='assets/img/gallery/course_giaotieptrungcap.jpg' alt='' style="width:340px;height:280px;margin-top: 0")
              .properties__caption
                p 平山淳子 - Junko Hirayama
                h3
                  a(href='/courses_details') Giao tiếp tiếng Nhật trung cấp
                p
                  | Khóa học phù hợp với những bạn đã đạt chứng chỉ tiếng Nhật sơ cấp, 
                  | muốn rút ngắn thời gian để du học, giao tiếp và làm việc ở công ty 
                  | Nhật, ở trường học, hoặc tham gia vào các kỳ thi năng lực tiếng Nhật.
                a.border-btn.border-btn2(href='/courses_details') Tìm hiểu thêm
        .col-lg-4
          .properties.properties2.mb-30
            .properties__card
              .properties__img.overlay1
                a(href='/courses_details')
                  img(src='assets/img/gallery/course_socap.jpg' alt='' style="width:340px;height:280px;margin-top: 0")
              .properties__caption
                p 平山淳子 - Junko Hirayama
                h3
                  a(href='/courses_details') Khóa học cấp tốc sơ cấp
                p
                  | Khóa học phù hợp với những bạn
                  | muốn rút ngắn thời gian để du học hay lao động tại Nhật Bản.
                  | Đảm bảo đủ kiến thức và kỹ năng thi JLPT sơ cấp. 
                  | Tự tin giao tiếp, tham gia phỏng vấn du học trực tiếp với các trường Nhật Bản.
                a.border-btn.border-btn2(href='#') Tìm hiểu thêm
        .col-lg-4
          .properties.properties2.mb-30
            .properties__card
              .properties__img.overlay1
                a(href='/courses_details')
                  img(src='assets/img/gallery/course_business.jpg' alt='' style="width:340px;height:280px;margin-top: 0")
              .properties__caption
                p Dương Thị Thương
                h3
                  a(href='/courses_details') Tiếng Nhật thương mại
                p
                  | Khóa học dành cho các ứng viên đi làm tại 
                  | các công ty Nhật bản, Khóa học Giao dịch 
                  | thương mại qua Email, Khóa học Biên phiên dịch 
                  | chuyên ngành kinh tế, Khóa học Giao tiếp Tiếng Nhật 
                  | trong văn phòng. 
                a.border-btn.border-btn2(href='/courses_details') Tìm hiểu thêm
      .row.justify-content-center
        .col-xl-7.col-lg-8
          .section-tittle.text-center.mt-40
            a.border-btn(href='#') Xem thêm
  // Courses area End
  // ? top subjects Area Start
  .topic-area
    .container
      .row.justify-content-center
        .col-xl-7.col-lg-8
          .section-tittle.text-center.mb-55
            h2 Top chủ đề khóa học
      .row
        .col-lg-3.col-md-4.col-sm-6
          .single-topic.text-center.mb-30
            .topic-img
              img(src='assets/img/gallery/manner.png' alt='' style='width:200px; height:200px;')
              .topic-content-box
                .topic-content
                  h3
                    a(href='#') Công sở
        .col-lg-3.col-md-4.col-sm-6
          .single-topic.text-center.mb-30
            .topic-img
              img(src='assets/img/gallery/du_hoc.jpg' alt='' style='width:200px; height:200px;')
              .topic-content-box
                .topic-content
                  h3
                    a(href='#') Du học
        .col-lg-3.col-md-4.col-sm-6
          .single-topic.text-center.mb-30
            .topic-img
              img(src='assets/img/gallery/kanji.png' alt='' style='width:200px; height:200px;')
              .topic-content-box
                .topic-content
=======
extends layout.pug 
block main 
  main
    // ? slider Area Start
    section.slider-area.slider-area2
      .slider-active
        // Single Slider
        .single-slider.slider-height2
          .container
            .row
              .col-xl-8.col-lg-11.col-md-12
                .hero__caption.hero__caption2
                  h1(data-animation='bounceIn' data-delay='0.2s') Các khóa học 
                  // breadcrumb Start
                  nav(aria-label='breadcrumb')
                    ol.breadcrumb
                      li.breadcrumb-item
                        a(href='/') Trang chủ
                      li.breadcrumb-item
                        a(href='/courses') Khóa học
                  // breadcrumb End
    // Courses area start
    .courses-area.section-padding40.fix
      .container
        .row.justify-content-center
          .col-xl-7.col-lg-8
            .section-tittle.text-center.mb-55
              h2 Các khóa học nổi bật
        .row
          .col-lg-4
            .properties.properties2.mb-30
              .properties__card
                .properties__img.overlay1
                  a(href='#')
                    img(src='assets/img/gallery/course_time.jpg' alt='' style="width:340px;height:280px;margin-top: 0")
                .properties__caption
                  p Nguyễn Thị Hoa
>>>>>>> aa4cc6879e46917fe9ea5239ab3db4bb86488c4a
                  h3
                    a(href='#') Quản lý thời gian hiệu quả
                  p 
                    |- Thời gian có là “kim cương, vàng, bạc”?
                    br
                    |- Bạn đang “làm chủ” thời gian hay đang là “nô lệ”?
                    br
                    |- Bạn làm gì với thời gian một ngày 24 tiếng?
                  a.border-btn.border-btn2(href='#') Tìm hiểu thêm
          .col-lg-4
            .properties.properties2.mb-30
              .properties__card
                .properties__img.overlay1
                  a(href='#')
                    img(src='assets/img/gallery/course_giaotiepsocap.jpg' alt='' style="width:340px;height:280px;margin-top: 0")
                .properties__caption
                  p Shin Suzuki
                  h3
                    a(href='#') Combo N3-N2-N1
                  p
                    | - Tiết kiệm chi phí hơn cho bạn. 
                    br
                    | - Thời gian học dài hơn 2 lần khoá thường. 
                    br
                    | - Các ưu đãi, đặc quyền chỉ có ở gói combo.
                  a.border-btn.border-btn2(href='#') Tìm hiểu thêm
          .col-lg-4
            .properties.properties2.mb-30
              .properties__card
                .properties__img.overlay1
                  a(href='#')
                    img(src='assets/img/gallery/course_flirt.jpg' alt='' style="width:340px;height:280px;margin-top: 0")
                .properties__caption
                  p Phan Lệ
                  h3
                    a(href='#') Cách tán gái bằng tiếng Nhật
                  p
                    | Bạn muốn tỏ tình với người thương bằng tiếng Nhật? Hay bạn muốn có một màn tỏ tình khó quên? Vậy đừng bỏ qua khóa học thú vị này của Wakame để biết được những kinh nghiệm tỏ tình hiệu quả nhé!
                  .properties__footer.d-flex.justify-content-between.align-items-center
                    .restaurant-name
                      .rating
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star-half
                      p
                        span (4.5)
                        |  21 đánh giá
                    .price
                      span &#165;100
                  a.border-btn.border-btn2(href='#') Tìm hiểu thêm
          .col-lg-4
            .properties.properties2.mb-30
              .properties__card
                .properties__img.overlay1
                  a(href='#')
                    img(src='assets/img/gallery/course_giaotieptrungcap.jpg' alt='' style="width:340px;height:280px;margin-top: 0")
                .properties__caption
                  p 平山淳子 - Junko Hirayama
                  h3
                    a(href='#') Giao tiếp tiếng Nhật trung cấp
                  p
                    | Khóa học phù hợp với những bạn đã đạt chứng chỉ tiếng Nhật sơ cấp, 
                    | muốn rút ngắn thời gian để du học, giao tiếp và làm việc ở công ty 
                    | Nhật, ở trường học, hoặc tham gia vào các kỳ thi năng lực tiếng Nhật.
                  .properties__footer.d-flex.justify-content-between.align-items-center
                    .restaurant-name
                      .rating
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                      p
                        span (4.5)
                        |  268 đánh giá
                    .price
                      span &#165;10000
                  a.border-btn.border-btn2(href='#') Tìm hiểu thêm
          .col-lg-4
            .properties.properties2.mb-30
              .properties__card
                .properties__img.overlay1
                  a(href='#')
                    img(src='assets/img/gallery/course_socap.jpg' alt='' style="width:340px;height:280px;margin-top: 0")
                .properties__caption
                  p 平山淳子 - Junko Hirayama
                  h3
                    a(href='#') Khóa học cấp tốc sơ cấp
                  p
                    | Khóa học phù hợp với những bạn
                    | muốn rút ngắn thời gian để du học hay lao động tại Nhật Bản.
                    | Đảm bảo đủ kiến thức và kỹ năng thi JLPT sơ cấp. 
                    | Tự tin giao tiếp, tham gia phỏng vấn du học trực tiếp với các trường Nhật Bản.
                  .properties__footer.d-flex.justify-content-between.align-items-center
                    .restaurant-name
                      .rating
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star-half
                      p
                        span (4.5)
                        |  79 đánh giá
                    .price
                      span &#165;2000
                  a.border-btn.border-btn2(href='#') Tìm hiểu thêm
          .col-lg-4
            .properties.properties2.mb-30
              .properties__card
                .properties__img.overlay1
                  a(href='#')
                    img(src='assets/img/gallery/course_business.jpg' alt='' style="width:340px;height:280px;margin-top: 0")
                .properties__caption
                  p Dương Thị Thương
                  h3
<<<<<<< HEAD
                    a(href='#') Ôn thi
      .row.justify-content-center
        .col-xl-12
          .section-tittle.text-center.mt-20(style="margin-bottom:50px")
            a.border-btn(href='/courses') Xem tất cả
  // top subjects End
footer
  .footer-wrappper.footer-bg
    // Footer Start
    .footer-area.footer-padding
      .container
        .row.justify-content-between
          .col-xl-4.col-lg-5.col-md-4.col-sm-6
            .single-footer-caption.mb-50
              .single-footer-caption.mb-30
                // logo
                .footer-logo.mb-25
                  a(href='/')
                    img(src='assets/img/logo/wakame_logo.svg' alt='' style='width:300px; height:80px;')
                .footer-tittle
                  .footer-pera
                    p(style="line-height: 2.2;") 熱意なしに偉大なことが達成されたことはない。Không có sự vĩ đại nào đạt được nếu không có sự nhiệt tình, nhiệt tâm.
                // social
                .footer-social
                  p(style="color:white") Theo dõi chúng tôi:
                  a(href='https://twitter.com' target='_blank')
                    i.fab.fa-twitter
                  a(href='https://facebook.com' target='_blank')
                    i.fab.fa-facebook-f
                  a(href="https://www.youtube.com" target="blank")
                    i.fab.fa-youtube
                  a(href="https://www.instagram.com" target="blank")
                    i.fab.fa-instagram
                  a(href="https://www.plus.google.com" target="blank")
                    i.fab.fa-google-plus-g
          .col-xl-4.col-lg-3.col-md-4.col-sm-6(style="max-width:100%")
            .single-footer-caption.mb-50
              .footer-tittle(style="margin-bottom: 50px;")
                h4(style="margin-top: 45px;") Liên hệ
                ul(style="margin-top: 50px;width: 400px;")
                  li
                    i.fa.fa-map-marker-alt(style="color:white") 
                    a(style="text-decoration:none") &nbsp; Địa chỉ: Đại học Công nghệ Thông tin, ĐHQG-HCM
                  li
                    i.fa.fa-phone.fa-flip-horizontal(style="color:white") 
                    a(style="text-decoration:none") &nbsp; Điện thoại: 0123 456 789
                  li
                    i.fa.fa-envelope(style="color:white") 
                    a(style="text-decoration:none") &nbsp; Email: wakameuit@gmail.com
          .col-xl-2.col-lg-4.col-md-4.col-sm-6
            .single-footer-caption.mb-50
              .footer-tittle(style="margin-bottom: 50px;")
                h4(style="margin-top: 45px;") Hỗ trợ
                ul(style="margin-top: 50px;")
                  li
                    a(href='#') FAQ
                  li
                    a(href='#') Tuyển dụng                
                  li
                    a(href='#') Điều khoản sử dụng
                  li
                    a(href='#') Chính sách bảo mật 
    // footer-bottom area
    .footer-bottom-area
      .container
        .footer-border
          .row.d-flex.align-items-center
            .col-xl-12
              .footer-copy-right.text-center
                p
                  | Copyright &copy;
                  script.
                    document.write(new Date().getFullYear());
                  |  | This template is made by 
                  a(href="https://github.com/mctminhtai/Nodejs_Wakame_Japanese_Study" target="blank") 
                    i.fab.fa-github(style="color:white")
                    |&nbsp;Nhóm 1
    // Footer End
// Scroll Up
#back-top
  a(title='Go to Top' href='#')
    i.fas.fa-level-up-alt
// JS here
script(src='./assets/js/vendor/modernizr-3.5.0.min.js')
// Jquery, Popper, Bootstrap
script(src='./assets/js/vendor/jquery-1.12.4.min.js')
script(src='./assets/js/popper.min.js')
script(src='./assets/js/bootstrap.min.js')
// Jquery Mobile Menu
script(src='./assets/js/jquery.slicknav.min.js')
// Jquery Slick , Owl-Carousel Plugins
script(src='./assets/js/owl.carousel.min.js')
script(src='./assets/js/slick.min.js')
// One Page, Animated-HeadLin
script(src='./assets/js/wow.min.js')
script(src='./assets/js/animated.headline.js')
script(src='./assets/js/jquery.magnific-popup.js')
// Date Picker
script(src='./assets/js/gijgo.min.js')
// Nice-select, sticky
script(src='./assets/js/jquery.nice-select.min.js')
script(src='./assets/js/jquery.sticky.js')
// Progress
script(src='./assets/js/jquery.barfiller.js')
// counter , waypoint,Hover Direction
script(src='./assets/js/jquery.counterup.min.js')
script(src='./assets/js/waypoints.min.js')
script(src='./assets/js/jquery.countdown.min.js')
script(src='./assets/js/hover-direction-snake.min.js')
// contact js
script(src='./assets/js/contact.js')
script(src='./assets/js/jquery.form.js')
script(src='./assets/js/jquery.validate.min.js')
script(src='./assets/js/mail-script.js')
script(src='./assets/js/jquery.ajaxchimp.min.js')
// Jquery Plugins, main Jquery
script(src='./assets/js/plugins.js')
script(src='./assets/js/main.js')
=======
                    a(href='#') Tiếng Nhật thương mại
                  p
                    | Khóa học dành cho các ứng viên đi làm tại 
                    | các công ty Nhật bản, Khóa học Giao dịch 
                    | thương mại qua Email, Khóa học Biên phiên dịch 
                    | chuyên ngành kinh tế, Khóa học Giao tiếp Tiếng Nhật 
                    | trong văn phòng. 
                  .properties__footer.d-flex.justify-content-between.align-items-center
                    .restaurant-name
                      .rating
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                      p
                        span (5)
                        |  34 đánh giá
                    .price
                      span &#165;1000
                  a.border-btn.border-btn2(href='#') Tìm hiểu thêm
        .row.justify-content-center
          .col-xl-7.col-lg-8
            .section-tittle.text-center.mt-40
              a.border-btn(href='#') Xem thêm
    // Courses area End
    // ? top subjects Area Start
    .topic-area
      .container
        .row.justify-content-center
          .col-xl-7.col-lg-8
            .section-tittle.text-center.mb-55
              h2 Top chủ đề khóa học
        .row
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/manner.png' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Công sở
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/du_hoc.jpg' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Du học
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/kanji.png' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Kanji
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/tu_vung.png' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Từ vựng
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/nghe_hieu.jpg' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Nghe hiểu
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/doc_hieu.jpg' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Đọc hiểu
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/ngu_phap.jpg' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Ngữ pháp
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/on_thi.png' alt='' style='width:200px; height:200px;')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Ôn thi
        .row.justify-content-center
          .col-xl-12
            .section-tittle.text-center.mt-20(style="margin-bottom:50px")
              a.border-btn(href='/courses') Xem tất cả
    // top subjects End
>>>>>>> aa4cc6879e46917fe9ea5239ab3db4bb86488c4a
