extends layout.pug 
block title 
  title Chỉnh sửa thông tin | Wakame
block main 
  main
    // ? slider Area Start
    section.slider-area.slider-area2
      .slider-active
        // Single Slider
        .single-slider.slider-height2
          .container
            .row
              .col-xl-8.col-lg-11.col-md-12
                .hero__caption.hero__caption2
                  h1(data-animation='bounceIn' data-delay='0.2s') Chỉnh sửa thông tin
                  // breadcrumb Start
                  nav(aria-label='breadcrumb')
                    ol.breadcrumb
                      li.breadcrumb-item
                        a(href='/') Trang chủ
                      li.breadcrumb-item
                        a(href='/profile') Thông tin cá nhân
                  // breadcrumb End
    // ? About Area-1 Start
    section.about-area1.fix.pt-10.mb-30.mt-30(style="margin-left:100px")
      .support-wrapper.align-items-center
        .left-content1
          // section tittle
          .section-tittle.section-tittle2.mb-55
            .front-text
            .row(style="width:700px")
              .col-xl-8.col-lg-11.col-md-12
                h2 #{user_name}
              .col-xl-4.col-lg-11.col-md-12(style="margin-top:20px")
                a(href="/profile" style="color:#4255a4;font-size:17px")
                  i.fas.fa-save
                  | &nbsp;Lưu
            .row(style="width:700px")
              .col-xl-8.col-lg-11.col-md-12
                .features-caption
                  h3 Họ và tên
                  input(type="text" name="text")
              .col-xl-4.col-lg-11.col-md-12
                .features-caption
                  h3 Giới tính
                  input(type="radio" name="gender" value="1" checked=gender=="male")
                  | Male
                  input(type="radio" name="gender" value="0" checked=gender=="female")
                  | Female            
            .row(style="width:700px")
              .col-xl-8.col-lg-11.col-md-12
                .features-caption
                  h3 Ngày sinh
                  span.date
                    = Intl.DateTimeFormat('en-US',{ year: 'numeric', month: 'short', day: '2-digit', hour:'numeric', minute: '2-digit', second: '2-digit' }).format(PrismicDOM.Date(document.data.eventDate))              .col-xl-4.col-lg-11.col-md-12
                .features-caption
                  h3 Số điện thoại
                  input( type="tel" name="telephone" pattern="\\d{10}" )            
            .row(style="width:700px")
              .col-xl-8.col-lg-11.col-md-12
                .features-caption
                  h3 Email
                  p #{email_user}
            .row(style="width:700px")
              .col-xl-8.col-lg-11.col-md-12
                .features-caption
                  h3 Địa chỉ
                  input( type="text" name="address")            
    // ? About Area-1 End
