doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='TemplateMo')
  link(rel='apple-touch-icon' sizes='57x57' href='images/favicon/apple-icon-57x57.png')
  link(rel='apple-touch-icon' sizes='60x60' href='images/favicon/apple-icon-60x60.png')
  link(rel='apple-touch-icon' sizes='72x72' href='images/favicon/apple-icon-72x72.png')
  link(rel='apple-touch-icon' sizes='76x76' href='images/favicon/apple-icon-76x76.png')
  link(rel='apple-touch-icon' sizes='114x114' href='images/favicon/apple-icon-114x114.png')
  link(rel='apple-touch-icon' sizes='120x120' href='images/favicon/apple-icon-120x120.png')
  link(rel='apple-touch-icon' sizes='144x144' href='images/favicon/apple-icon-144x144.png')
  link(rel='apple-touch-icon' sizes='152x152' href='images/favicon/apple-icon-152x152.png')
  link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-icon-180x180.png')
  link(rel='icon' type='image/png' sizes='192x192' href='/android-icon-192x192.png')
  link(rel='icon' type='image/png' sizes='32x32' href='images/favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='96x96' href='images/favicon/favicon-96x96.png')
  link(rel='icon' type='image/png' sizes='16x16' href='images/favicon/favicon-16x16.png')
  link(rel='manifest' href='images/favicon/manifest.json')
  meta(name='msapplication-TileColor' content='#ffffff')
  meta(name='msapplication-TileImage' content='images/favicon/ms-icon-144x144.png')
  meta(name='theme-color' content='#ffffff')
  link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap' rel='stylesheet')
  title WAKAME JAPANESE CLUB
  //
    Lava Landing Page
    https://templatemo.com/tm-540-lava-landing-page
  // Additional CSS Files
  link(rel='stylesheet' type='text/css' href='stylesheets/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='stylesheets/font-awesome.css')
  link(rel='stylesheet' href='stylesheets/templatemo-lava.css')
  link(rel='stylesheet' href='stylesheets/owl-carousel.css')
#preloader
  .jumper
    div
    div
    div
// ***** Preloader End *****
// ***** Header Area Start *****
header.header-area.header-sticky
  .container
    .row
      .col-12
        nav.main-nav
          // ***** Logo Start *****
          a.logo(href='index.html')
            | WAKAME
          // ***** Logo End *****
          // ***** Menu Start *****
          ul.nav
            li.scroll-to-section
              a.menu-item(href='#welcome') Trang ch&#x1EE7;
            li.scroll-to-section
              a(href='/news') Tin t&#x1EE9;c
            li.scroll-to-section
              a.menu-item(href='#testimonials') V&#x1EC1; ch&uacute;ng t&ocirc;i
            li.scroll-to-section
              a.menu-item(href='#contact-us') Li&ecirc;n h&#x1EC7;
            li.submenu
              a(href='javascript:;') T&agrave;i li&#x1EC7;u
              ul
                li
                  a.menu-item(href='') &Dstrok;&#x1EC1; JLPT
                li
                  a.menu-item(href='') &Dstrok;&#x1EC1; &ocirc;n t&#x1EAD;p
                li
                  a.menu-item(href='') T&#x1EEB; v&#x1EF1;ng
                li
                  a.menu-item(href='') Ng&#x1EEF; ph&aacute;p
            li.symbol
              a |
            li
              a(href='/register') &Dstrok;&abreve;ng k&yacute;
            li
              a(href='/login') &Dstrok;&abreve;ng nh&#x1EAD;p
          a.menu-trigger
            span Menu
          // ***** Menu End *****
// ***** Header Area End *****
// ***** Welcome Area Start *****
#welcome.welcome-area
  // ***** Header Text Start *****
  .header-text
    .container
      .row
        .left-text.col-lg-6.col-md-12.col-sm-12.col-xs-12(data-scroll-reveal='enter left move 30px over 0.6s after 0.4s')
          h1
            | TI&#x1EBE;NG NH&#x1EAC;T D&#x1EC4; NH&#x1AF; FIX
            em
              i.fa.fa-bug.fa-2x
          p
            | Trang h&#x1ECD;c ti&#x1EBF;ng Nh&#x1EAD;t hi&#x1EC7;u qu&#x1EA3; d&agrave;nh cho sinh vi&ecirc;n c&#x1EE7;a Ch&#x1B0;&#x1A1;ng tr&igrave;nh Ch&#x1EA5;t l&#x1B0;&#x1EE3;ng cao &Dstrok;&#x1ECB;nh h&#x1B0;&#x1EDB;ng Nh&#x1EAD;t B&#x1EA3;n n&oacute;i ri&ecirc;ng v&agrave; sinh vi&ecirc;n &Dstrok;&#x1EA1;i h&#x1ECD;c C&ocirc;ng ngh&#x1EC7; th&ocirc;ng tin n&oacute;i chung.
          a.main-button-slider(href='#testimonials') V&#x1EC1; ch&uacute;ng t&ocirc;i
  // ***** Header Text End *****
// ***** Welcome Area End *****
// ***** Features Big Item Start *****
section#about.section
  .container
    .row
      .col-lg-4.col-md-6.col-sm-12.col-xs-12(data-scroll-reveal='enter left move 30px over 0.6s after 0.4s')
        .features-item
          .features-icon
            i.fa.fa-line-chart.fa-5x(aria-hidden='true')
            h4 N&acirc;ng cao tr&igrave;nh &dstrok;&#x1ED9;
            p Gi&uacute;p b&#x1EA1;n c&#x1EA3;i thi&#x1EC7;n v&#x1EC1; tr&igrave;nh &dstrok;&#x1ED9; ti&#x1EBF;ng Nh&#x1EAD;t trong h&#x1ECD;c t&#x1EAD;p v&agrave; giao ti&#x1EBF;p.
      .col-lg-4.col-md-6.col-sm-12.col-xs-12(data-scroll-reveal='enter bottom move 30px over 0.6s after 0.4s')
        .features-item
          .features-icon
            i.fa.fa-book.fa-5x(aria-hidden='true')
            h4 Luy&#x1EC7;n thi
            p V&#x1EDB;i nh&#x1EEF;ng &dstrok;&#x1EC1; thi &dstrok;&#x1B0;&#x1EE3;c ch&#x1ECD;n l&#x1ECD;c gi&uacute;p b&#x1EA1;n c&oacute; th&#x1EC3; &dstrok;&#x1EAD;u &dstrok;&#x1B0;&#x1EE3;c k&igrave; thi JLPT.
      .col-lg-4.col-md-6.col-sm-12.col-xs-12(data-scroll-reveal='enter right move 30px over 0.6s after 0.4s')
        .features-item
          .features-icon
            i.fa.fa-building-o.fa-5x(aria-hidden='true')
            h4 C&#x1A1; h&#x1ED9;i vi&#x1EC7;c l&agrave;m
            p T&#x1EA1;o &dstrok;i&#x1EC1;u ki&#x1EC7;n cho sinh vi&ecirc;n sau khi t&#x1ED1;t nghi&#x1EC7;p sang Nh&#x1EAD;t B&#x1EA3;n l&agrave;m vi&#x1EC7;c.
// ***** Features Big Item End *****
.left-image-decor
// ***** Features Big Item Start *****
//
  <section class="section" id="promotion">
  <div class="container">
  <div class="row">
  <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big"
  data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
  <img src="images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
  </div>
  <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
  <ul>
  <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
  <img src="images/about-icon-01.png" alt="">
  <div class="text">
  <h4>Vestibulum pulvinar rhoncus</h4>
  <p>Please do not redistribute this template ZIP file for a download purpose. You may <a
  rel="nofollow" href="https://templatemo.com/contact" target="_parent">contact</a> us for
  additional licensing of our template or to get a PSD file.</p>
  </div>
  </li>
  <li data-scroll-reveal="enter right move 30px over 0.6s after 0.5s">
  <img src="images/about-icon-02.png" alt="">
  <div class="text">
  <h4>Sed blandit quam in velit</h4>
  <p>You can <a rel="nofollow"
  href="https://templatemo.com/tm-540-lava-landing-page">download Lava
  Template</a> from our website. Duis viverra, ipsum et scelerisque placerat, orci
  magna consequat ligula.</p>
  </div>
  </li>
  <li data-scroll-reveal="enter right move 30px over 0.6s after 0.6s">
  <img src="images/about-icon-03.png" alt="">
  <div class="text">
  <h4>Aenean faucibus venenatis</h4>
  <p>Phasellus in imperdiet felis, eget vestibulum nulla. Aliquam nec dui nec augue
  maximus porta. Curabitur tristique lacus.</p>
  </div>
  </li>
  </ul>
  </div>
  </div>
  </div>
  </section>
// ***** Features Big Item End *****
.right-image-decor
// ***** Testimonials Starts *****
section#testimonials.section
  .container
    .row
      .col-lg-8.offset-lg-2
        .center-heading
          h2
            | Nh&agrave; s&aacute;ng l&#x1EAD;p 
            em Wakame
          p
            | Nh&#x1EEF;ng ng&#x1B0;&#x1EDD;i &dstrok;&#x1EA7;u ti&ecirc;n &dstrok;&#x1EB7;t n&#x1EC1;n m&oacute;ng cho vi&#x1EC7;c h&igrave;nh th&agrave;nh, x&acirc;y d&#x1EF1;ng v&agrave; ph&aacute;t tri&#x1EC3;n c&acirc;u l&#x1EA1;c b&#x1ED9; ti&#x1EBF;ng Nh&#x1EAD;t Wakame.
      .col-lg-10.col-md-12.col-sm-12.mobile-bottom-fix-big(data-scroll-reveal='enter left move 30px over 0.6s after 0.4s')
        .owl-carousel.owl-theme
          .item.service-item
            .author
              i
                img(src='images/testimonial-author-1.png' alt='Author One')
            .testimonial-content
              h4 Nguy&#x1EC5;n Thanh Nh&atilde;
              p
              span Ch&#x1EE7; t&#x1ECB;ch CLB
          .item.service-item
            .author
              i
                img(src='images/testimonial-author-1.png' alt='Second Author')
            .testimonial-content
              h4 L&ecirc; Minh T&agrave;i
              p
              span Ph&oacute; ch&#x1EE7; t&#x1ECB;ch CLB
          .item.service-item
            .author
              i
                img(src='images/testimonial-author-1.png' alt='Author Third')
            .testimonial-content
              h4 Nguy&#x1EC5;n Ph&#x1B0;&#x1A1;ng Nam
              p
              span Qu&#x1EA3;n tr&#x1ECB; vi&ecirc;n
          .item.service-item
            .author
              i
                img(src='images/testimonial-author-1.png' alt='Author Third')
            .testimonial-content
              h4 Ph&#x1EA1;m V&utilde; Ki&#x1EC1;u Ti&ecirc;n
              p
              span Ph&oacute; qu&#x1EA3;n tr&#x1ECB; vi&ecirc;n
.left-image-decor-2(data_liveedit_tagid='0000000018065AA0')
// ***** Testimonials Ends *****
// ***** Footer Start *****
footer#contact-us
  .container
    .footer-content
      .row
        // ***** Contact Form Start *****
        .col-lg-6.col-md-12.col-sm-12
          .contact-form
            form#contact(action='' method='post')
              .row
                .col-md-6.col-sm-12
                  fieldset
                    input#name(name='name' type='text' placeholder='Họ và Tên' required='' style='background-color: rgba(250,250,250,0.3);')
                .col-md-6.col-sm-12
                  fieldset
                    input#email(name='email' type='text' placeholder='Địa chỉ Email' required='' style='background-color: rgba(250,250,250,0.3);')
                .col-lg-12
                  fieldset
                    textarea#message(name='message' rows='6' placeholder='Nội dung' required='' style='background-color: rgba(250,250,250,0.3);')
                .col-lg-12
                  fieldset
                    button#form-submit.main-button(type='submit') G&#x1EED;i tin nh&#x1EAF;n
        // ***** Contact Form End *****
        .right-content.col-lg-6.col-md-12.col-sm-12
          h2
            em Wakame
          p
            | M&#x1ECD;i t&#x1B0; v&#x1EA5;n, th&#x1EAF;c m&#x1EAF;c ho&#x1EB7;c g&#x1EB7;p c&aacute;c v&#x1EA5;n &dstrok;&#x1EC1; kh&oacute; kh&abreve;n v&#x1EC1; h&#x1ECD;c t&#x1EAD;p ti&#x1EBF;ng Nh&#x1EAD;t, b&#x1EA1;n c&oacute; th&#x1EC3; trao &dstrok;&#x1ED5;i qua Email &dstrok;&#x1EC3; &dstrok;&#x1B0;&#x1EE3;c gi&#x1EA3;i &dstrok;&aacute;p.
            br
            br
            | Ngo&agrave;i ra b&#x1EA1;n c&oacute; th&#x1EC3; theo d&otilde;i CLB th&ocirc;ng qua c&aacute;c trang m&#x1EA1;ng x&atilde; h&#x1ED9;i &dstrok;&#x1EC3; bi&#x1EBF;t th&ecirc;m th&ocirc;ng tin chi ti&#x1EBF;t.
          ul.social
            li
              a(href='https://fb.com/templatemo')
                i.fa.fa-facebook
            li
              a(href='#')
                i.fa.fa-twitter
            li
              a(href='#')
                i.fa.fa-instagram
            li
              a(href='#')
                i.fa.fa-google-plus
    .row
      .col-lg-12
        .sub-footer
          p &Dstrok;&#x1EA1;i h&#x1ECD;c C&ocirc;ng ngh&#x1EC7; Th&ocirc;ng tin &Dstrok;HQG-TP.HCM
          p Copyright &copy; 2021 C&acirc;u l&#x1EA1;c b&#x1ED9; Wakame
// jQuery
script(src='javascripts/jquery-2.1.0.min.js')
// Bootstrap
script(src='javascripts/popper.js')
script(src='javascripts/bootstrap.min.js')
// Plugins
script(src='javascripts/owl-carousel.js')
script(src='javascripts/scrollreveal.min.js')
script(src='javascripts/waypoints.min.js')
script(src='javascripts/jquery.counterup.min.js')
script(src='javascripts/imgfix.min.js')
// Global Init
script(src='javascripts/custom.js')
