doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='TemplateMo')
  link(rel='apple-touch-icon' sizes='57x57' href='images/favicon/apple-icon-57x57.png')
  link(rel='apple-touch-icon' sizes='60x60' href='images/favicon/apple-icon-60x60.png')
  link(rel='apple-touch-icon' sizes='72x72' href='images/favicon/apple-icon-72x72.png')
  link(rel='apple-touch-icon' sizes='76x76' href='images/favicon/apple-icon-76x76.png')
  link(rel='apple-touch-icon' sizes='114x114' href='images/favicon/apple-icon-114x114.png')
  link(rel='apple-touch-icon' sizes='120x120' href='images/favicon/apple-icon-120x120.png')
  link(rel='apple-touch-icon' sizes='144x144' href='images/favicon/apple-icon-144x144.png')
  link(rel='apple-touch-icon' sizes='152x152' href='images/favicon/apple-icon-152x152.png')
  link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-icon-180x180.png')
  link(rel='icon' type='image/png' sizes='192x192' href='/android-icon-192x192.png')
  link(rel='icon' type='image/png' sizes='32x32' href='images/favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='96x96' href='images/favicon/favicon-96x96.png')
  link(rel='icon' type='image/png' sizes='16x16' href='images/favicon/favicon-16x16.png')
  link(rel='manifest' href='images/favicon/manifest.json')
  meta(name='msapplication-TileColor' content='#ffffff')
  meta(name='msapplication-TileImage' content='images/favicon/ms-icon-144x144.png')
  meta(name='theme-color' content='#ffffff')
  link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap' rel='stylesheet')
  title WAKAME JAPANESE CLUB
  //
    Lava Landing Page
    https://templatemo.com/tm-540-lava-landing-page
  // Additional CSS Files
  link(rel='stylesheet' type='text/css' href='stylesheets/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='stylesheets/font-awesome.css')
  link(rel='stylesheet' href='stylesheets/templatemo-lava.css')
  link(rel='stylesheet' href='stylesheets/owl-carousel.css')
// ***** Preloader Start *****
#preloader
  .jumper
    div
    div
    div
// ***** Preloader End *****
// ***** Header Area Start *****
header.header-area.header-sticky
  .container
    .row
      .col-12
        nav.main-nav
          // ***** Logo Start *****
          a.logo(href='index.html')
            | WAKAME
          // ***** Logo End *****
          // ***** Menu Start *****
          ul.nav
            li.scroll-to-section
              a.menu-item(href='#welcome') Home
            li.scroll-to-section
              a.menu-item(href='#about') About
            li.scroll-to-section
              a.menu-item(href='#testimonials') Testimonials
            li.submenu
              a(href='javascript:;') Drop Down
              ul
                li
                  a.menu-item(href='') About Us
                li
                  a.menu-item(href='') Features
                li
                  a.menu-item(href='') FAQ&apos;s
                li
                  a.menu-item(href='') Blog
            li.scroll-to-section
              a.menu-item(href='#contact-us') Contact Us
          a.menu-trigger
            span Menu
          // ***** Menu End *****
// ***** Header Area End *****
// ***** Welcome Area Start *****
#welcome.welcome-area
  // ***** Header Text Start *****
  .header-text
    .container
      .row
        .left-text.col-lg-6.col-md-12.col-sm-12.col-xs-12(data-scroll-reveal='enter left move 30px over 0.6s after 0.4s')
          h1
            | Simple App that we 
            em CREATE
          p
            | Lava 
            a(href='#') HTML landing page
            |  template is provided by 
            a(href='#') TemplateMo
            | .
            |                            You can modify and use it for your commercial websites for free of charge. This template is last updated on 29 Oct 2019.
          a.main-button-slider(href='#about') KNOW US BETTER
  // ***** Header Text End *****
// ***** Welcome Area End *****
// ***** Features Big Item Start *****
section#about.section
  .container
    .row
      .col-lg-4.col-md-6.col-sm-12.col-xs-12(data-scroll-reveal='enter left move 30px over 0.6s after 0.4s')
        .features-item
          .features-icon
            h2 01
            img(src='images/features-icon-1.png' alt='')
            h4 Trend Analysis
            p
              | Curabitur pulvinar vel odio sed sagittis. Nam maximus ex diam, nec consectetur diam.
            a.main-button(href='#testimonials')
              | Read More
      .col-lg-4.col-md-6.col-sm-12.col-xs-12(data-scroll-reveal='enter bottom move 30px over 0.6s after 0.4s')
        .features-item
          .features-icon
            h2 02
            img(src='images/features-icon-2.png' alt='')
            h4 Site Optimization
            p
              | Curabitur pulvinar vel odio sed sagittis. Nam maximus ex diam, nec consectetur diam.
            a.main-button(href='#testimonials')
              | Discover More
      .col-lg-4.col-md-6.col-sm-12.col-xs-12(data-scroll-reveal='enter right move 30px over 0.6s after 0.4s')
        .features-item
          .features-icon
            h2 03
            img(src='images/features-icon-3.png' alt='')
            h4 Email Design
            p
              | Curabitur pulvinar vel odio sed sagittis. Nam maximus ex diam, nec consectetur diam.
            a.main-button(href='#testimonials')
              | More Detail
// ***** Features Big Item End *****
.left-image-decor
// ***** Features Big Item Start *****
section#promotion.section
  .container
    .row
      .left-image.col-lg-5.col-md-12.col-sm-12.mobile-bottom-fix-big(data-scroll-reveal='enter left move 30px over 0.6s after 0.4s')
        img.rounded.img-fluid.d-block.mx-auto(src='images/left-image.png' alt='App')
      .right-text.offset-lg-1.col-lg-6.col-md-12.col-sm-12.mobile-bottom-fix
        ul
          li(data-scroll-reveal='enter right move 30px over 0.6s after 0.4s')
            img(src='images/about-icon-01.png' alt='')
            .text
              h4 Vestibulum pulvinar rhoncus
              p
                | Please do not redistribute this template ZIP file for a download purpose. You may 
                a(rel='nofollow' href='https://templatemo.com/contact' target='_parent') contact
                |  us for
                |                             additional licensing of our template or to get a PSD file.
          li(data-scroll-reveal='enter right move 30px over 0.6s after 0.5s')
            img(src='images/about-icon-02.png' alt='')
            .text
              h4 Sed blandit quam in velit
              p
                | You can 
                a(rel='nofollow' href='https://templatemo.com/tm-540-lava-landing-page')
                  | download Lava
                  | Template
                |  from our website. Duis viverra, ipsum et scelerisque placerat, orci
                |                                     magna consequat ligula.
          li(data-scroll-reveal='enter right move 30px over 0.6s after 0.6s')
            img(src='images/about-icon-03.png' alt='')
            .text
              h4 Aenean faucibus venenatis
              p
                | Phasellus in imperdiet felis, eget vestibulum nulla. Aliquam nec dui nec augue
                | maximus porta. Curabitur tristique lacus.
// ***** Features Big Item End *****
.right-image-decor
// ***** Testimonials Starts *****
section#testimonials.section
  .container
    .row
      .col-lg-8.offset-lg-2
        .center-heading
          h2
            | What They Think 
            em About Us
          p
            | Suspendisse vitae laoreet mauris. Fusce a nisi dapibus, euismod purus non, convallis odio.
            | Donec vitae magna ornare, pellentesque ex vitae, aliquet urna.
      .col-lg-10.col-md-12.col-sm-12.mobile-bottom-fix-big(data-scroll-reveal='enter left move 30px over 0.6s after 0.4s')
        .owl-carousel.owl-theme
          .item.service-item
            .author
              i
                img(src='images/testimonial-author-1.png' alt='Author One')
            .testimonial-content
              ul.stars
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
              h4 Jonathan Smart
              p
                | &ldquo;Nullam hendrerit, elit a semper pharetra, ipsum nibh tristique tortor, in tempus
                | urna elit in mauris.&rdquo;
              span Besta CTO
          .item.service-item
            .author
              i
                img(src='images/testimonial-author-1.png' alt='Second Author')
            .testimonial-content
              ul.stars
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
              h4 Martino Tino
              p
                | &ldquo;Morbi non mi luctus felis molestie scelerisque. In ac libero viverra, placerat est
                | interdum, rhoncus leo.&rdquo;
              span Web Analyst
          .item.service-item
            .author
              i
                img(src='images/testimonial-author-1.png' alt='Author Third')
            .testimonial-content
              ul.stars
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
              h4 George Tasa
              p
                | &ldquo;Fusce rutrum in dolor sit amet lobortis. Ut at vehicula justo. Donec quam dolor,
                | congue a fringilla sed, maximus et urna.&rdquo;
              span System Admin
          .item.service-item
            .author
              i
                img(src='images/testimonial-author-1.png' alt='Fourth Author')
            .testimonial-content
              ul.stars
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
              h4 Sir James
              p
                | &quot;Fusce rutrum in dolor sit amet lobortis. Ut at vehicula justo. Donec quam dolor,
                | congue a fringilla sed, maximus et urna.&quot;
              span New Villager
// ***** Testimonials Ends *****
// ***** Footer Start *****
footer#contact-us
  .container
    .footer-content
      .row
        // ***** Contact Form Start *****
        .col-lg-6.col-md-12.col-sm-12
          .contact-form
            form#contact(action='' method='post')
              .row
                .col-md-6.col-sm-12
                  fieldset
                    input#name(name='name' type='text' placeholder='Full Name' required='' style='background-color: rgba(250,250,250,0.3);')
                .col-md-6.col-sm-12
                  fieldset
                    input#email(name='email' type='text' placeholder='E-Mail Address' required='' style='background-color: rgba(250,250,250,0.3);')
                .col-lg-12
                  fieldset
                    textarea#message(name='message' rows='6' placeholder='Your Message' required='' style='background-color: rgba(250,250,250,0.3);')
                .col-lg-12
                  fieldset
                    button#form-submit.main-button(type='submit')
                      | Send Message
                      | Now
        // ***** Contact Form End *****
        .right-content.col-lg-6.col-md-12.col-sm-12
          h2
            | More About 
            em Lava
          p
            | Phasellus dapibus urna vel lacus accumsan, iaculis eleifend leo auctor. Duis at finibus odio.
            | Vivamus ut pharetra arcu, in porta metus. Suspendisse blandit pulvinar ligula ut elementum.
            br
            br
            | If you need this contact form to send email to your inbox, you may follow our 
            a(rel='nofollow' href='https://templatemo.com/contact' target='_parent') contact
            |  page
            |                             for more detail.
          ul.social
            li
              a(href='https://fb.com/templatemo')
                i.fa.fa-facebook
            li
              a(href='#')
                i.fa.fa-twitter
            li
              a(href='#')
                i.fa.fa-linkedin
            li
              a(href='#')
                i.fa.fa-rss
            li
              a(href='#')
                i.fa.fa-dribbble
    .row
      .col-lg-12
        .sub-footer
          p
            | Copyright &copy; 2020 Lava Landing Page
            | | Designed by 
            a(rel='nofollow' href='https://templatemo.com') TemplateMo
// jQuery
script(src='javascripts/jquery-2.1.0.min.js')
// Bootstrap
script(src='javascripts/popper.js')
script(src='javascripts/bootstrap.min.js')
// Plugins
script(src='javascripts/owl-carousel.js')
script(src='javascripts/scrollreveal.min.js')
script(src='javascripts/waypoints.min.js')
script(src='javascripts/jquery.counterup.min.js')
script(src='javascripts/imgfix.min.js')
// Global Init
script(src='javascripts/custom.js')