extends layout.pug 
block title 
  title CLB Tiếng Nhật UIT - Wakame | Official Website
block main 
  main
    
    // slider Area Start
    section.slider-area
      .slider-active
        // Single Slider
        .single-slider.slider-height.d-flex.align-items-center
            .container
              .row
                .col-xl-6.col-lg-7.col-md-12
                  .hero__caption
                    h1(data-animation='fadeInLeft' data-delay='0.2s' style='font-size:70px')
                      | Học tiếng Nhật
                      br
                      |  trực tuyến
                    p(data-animation='fadeInLeft' data-delay='0.4s' style='font-size:20px')
                      | Nơi phát triển kiến thức ngôn ngữ Nhật, kinh nghiệm thực tế và kỹ năng sống hằng ngày
                    // a.btn.hero-btn(href='/register' data-animation='fadeInLeft' data-delay='0.7s') Đăng ký miễn phí
    // ? services-area
    .services-area
      .container
        .row.justify-content-sm-center
          .col-lg-4.col-md-6.col-sm-8
            .single-services.mb-30
              .features-icon
                i.fas.fa-chart-line.fa-5x(aria-hidden='true')
              .features-caption
                h3 N&acirc;ng cao tr&igrave;nh &dstrok;&#x1ED9;
                p Gi&uacute;p b&#x1EA1;n c&#x1EA3;i thi&#x1EC7;n v&#x1EC1; tr&igrave;nh &dstrok;&#x1ED9; ti&#x1EBF;ng Nh&#x1EAD;t trong h&#x1ECD;c t&#x1EAD;p v&agrave; giao ti&#x1EBF;p.
          .col-lg-4.col-md-6.col-sm-8
            .single-services.mb-30
              .features-icon
                i.far.fa-file-alt.fa-5x(aria-hidden='true')
              .features-caption
                h3 Luy&#x1EC7;n thi
                p V&#x1EDB;i nh&#x1EEF;ng &dstrok;&#x1EC1; thi &dstrok;&#x1B0;&#x1EE3;c ch&#x1ECD;n l&#x1ECD;c gi&uacute;p b&#x1EA1;n c&oacute; th&#x1EC3; &dstrok;&#x1EAD;u &dstrok;&#x1B0;&#x1EE3;c k&igrave; thi JLPT.
          .col-lg-4.col-md-6.col-sm-8
            .single-services.mb-30
              .features-icon
                i.fas.fa-torii-gate.fa-5x(aria-hidden='true')
              .features-caption
                h3 C&#x1A1; h&#x1ED9;i vi&#x1EC7;c l&agrave;m
                p T&#x1EA1;o &dstrok;i&#x1EC1;u ki&#x1EC7;n cho sinh vi&ecirc;n sau khi t&#x1ED1;t nghi&#x1EC7;p sang Nh&#x1EAD;t B&#x1EA3;n l&agrave;m vi&#x1EC7;c.
    .courses-area.section-padding40.fix
      .container
        .row.justify-content-center
          .col-xl-7.col-lg-8
            .section-tittle.text-center.mb-55
              h2 C&aacute;c kh&oacute;a h&#x1ECD;c n&#x1ED5;i b&#x1EAD;t
              p#out1
        .row
          .col-lg-4
            #id1.properties.properties2.mb-30
              .properties__card
                .properties__img.overlay1
                  a(href='/coursesdetail')
                    img(src='assets/img/gallery/featured2.png' alt='')
                .properties__caption
                  p.blog-author Junko Hirayama
                  h3.h-48
                    a(href='/coursesdetail') Giao ti&#x1EBF;p ti&#x1EBF;ng Nh&#x1EAD;t trung c&#x1EA5;p
                  p.h-120
                    | Y&ecirc;u c&#x1EA7;u tr&igrave;nh &dstrok;&#x1ED9; JLPT N3 m&#x1EDB;i &dstrok;&#x1B0;&#x1EE3;c tham gia.
                  
                  .properties__footer.d-flex.justify-content-between.align-items-center
                    .restaurant-name
                      p.blog-date 01/01/2021
                  a.border-btn.border-btn2(href='/coursesdetail') Xem thêm 
          // Single
          // Single
          .col-lg-4
            .properties.properties2.mb-30
              .properties__card
                .properties__img.overlay1
                  a(href='/coursesdetail')
                    img(src='assets/img/gallery/featured2.png' alt='')
                .properties__caption
                  p.blog-author Aika Hamasaki
                  h3.h-48
                    a(href='/coursesdetail') V&abreve;n h&oacute;a c&ocirc;ng s&#x1EDF;
                  p.h-120
                    | B&#x1EA1;n ph&#x1EA3;i &dstrok;&#x1EA1;t &dstrok;&#x1B0;&#x1EE3;c JLPT N3 tr&#x1B0;&#x1EDB;c khi tham gia.
                  .properties__footer.d-flex.justify-content-between.align-items-center
                    .restaurant-name
                      p.blog-date 01/01/2021
                  a.border-btn.border-btn2(href='/coursesdetail') Xem thêm 
          // Single
          .col-lg-4
            .properties.properties2.mb-30
              .properties__card
                .properties__img.overlay1
                  a(href='/coursesdetail')
                    img(src='assets/img/gallery/featured2.png' alt='')
                .properties__caption
                  p.blog-author D&#x1B0;&#x1A1;ng Th&#x1ECB; Th&#x1B0;&#x1A1;ng
                  h3.h-48
                    a(href='/coursesdetail') Ti&#x1EBF;ng Nh&#x1EAD;t th&#x1B0;&#x1A1;ng m&#x1EA1;i
                  p.h-120
                    | Y&ecirc;u c&#x1EA7;u JLPT N2 &dstrok;&#x1EC3; tham gia.
                  .properties__footer.d-flex.justify-content-between.align-items-center
                    .restaurant-name
                      p.blog-date 01/01/2021
                  a.border-btn.border-btn2(href='/coursesdetail') Xem th&ecirc;m
          // Single
        .col-lg-12.see-more
          a.see-more-btn(href='/courses')
            | Xem thêm 
            i.fas.fa-angle-double-down
    // Single
    // Courses area start
    .courses-area.section-padding40.fix
      .container
        .row.justify-content-center
          .col-xl-7.col-lg-8
            .section-tittle.text-center.mb-55
              h2 C&aacute;c tin n&#x1ED5;i b&#x1EAD;t
        .row
          // Single
          .col-lg-4
            .properties.properties2.mb-30
              .properties__card
                .properties__img.overlay1
                  a(href='/blog')
                    img(src='assets/img/gallery/featured1.png' alt='')
                .properties__caption
                  p.blog-author L&ecirc; Minh T&agrave;i
                  h3.h-48
                    a(href='/blog') Kinh nghi&#x1EC7;m h&#x1ECD;c ti&#x1EBF;ng Nh&#x1EAD;t
                  p.h-120
                    | Mua s&aacute;ch v&#x1EC1; t&#x1EF1; &ocirc;n ho&#x1EB7;c sang Nh&#x1EAD;t h&#x1ECD;c ti&#x1EBF;ng Nh&#x1EAD;t v&agrave; l&#x1EA5;y N2. :)))
                  .properties__footer.d-flex.justify-content-between.align-items-center
                    .blog-date
                      p 01/01/2021
                  a.border-btn.border-btn2(href='/blog') Xem th&ecirc;m
          // Single
          // Single
          .col-lg-4
            .properties.properties2.mb-30
              .properties__card
                .properties__img.overlay1
                  a(href='/blog')
                    img(src='assets/img/gallery/featured2.png' alt='')
                .properties__caption
                  p.blog-author L&ecirc; Minh T&agrave;i
                  h3.h-48
                    a(href='/blog') Qu&#x1EA3;n l&yacute; th&#x1EDD;i gian hi&#x1EC7;u qu&#x1EA3;
                  p.h-120
                    | G&#x1EA7;n deadline r&#x1ED3;i h&#x1EB3;n l&agrave;m. Gi&#x1EDD; c&#x1EE9; tho&#x1EA3;i m&aacute;i th&#x1B0; gi&#x1EA3;n. Qu&#x1EA9;y th&ocirc;i m&#x1EA5;y em &#x1A1;i. Mai t&iacute;nh ti&#x1EBF;p.
                  .properties__footer.d-flex.justify-content-between.align-items-center
                    .blog-author
                      p 01/01/2021
                  a.border-btn.border-btn2(href='/blog') Xem th&ecirc;m
          // Single
          // Single
          .col-lg-4
            .properties.properties2.mb-30
              .properties__card
                .properties__img.overlay1
                  a(href='/blog')
                    img(src='assets/img/gallery/featured3.png' alt='')
                .properties__caption
                  p Phan Thanh L&#x1EC7;
                  h3.h-48
                    a(href='/blog') Nh&#x1EEF;ng c&acirc;u t&#x1ECF; t&igrave;nh b&#x1EB1;ng ti&#x1EBF;ng Nh&#x1EAD;t
                  p.h-120
                    | T&#x1EEB; l&ecirc;n Google t&igrave;m ki&#x1EBF;m &dstrok;i m&#x1EA5;y em.
                  .properties__footer.d-flex.justify-content-between.align-items-center
                    .restaurant-name
                      p.blog-date 01/01/2021
                  a.border-btn.border-btn2(href='/blog') Xem th&ecirc;m
        .col-lg-12.see-more
          a.see-more-btn(href='/blog')
            | Xem thêm 
            i.fas.fa-angle-double-down
          // Single
    // ? top subjects Area Start
    .topic-area.section-padding40
      .container
        .row.justify-content-center
          .col-xl-7.col-lg-8
            .section-tittle.text-center.mb-55
              h2 Kh&aacute;m ph&aacute; c&aacute;c ch&#x1EE7; &dstrok;&#x1EC1;
        .row
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/topic1.png' alt='')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') JLPT
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/topic2.png' alt='')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') T&#x1EEB; v&#x1EF1;ng
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/topic3.png' alt='')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Ng&#x1EEF; ph&aacute;p
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/topic4.png' alt='')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') K&iacute;nh ng&#x1EEF;
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/topic5.png' alt='')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') V&abreve;n h&oacute;a
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/topic6.png' alt='')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Du l&#x1ECB;ch
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/topic7.png' alt='')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') &#x1EA8;m th&#x1EF1;c
          .col-lg-3.col-md-4.col-sm-6
            .single-topic.text-center.mb-30
              .topic-img
                img(src='assets/img/gallery/topic8.png' alt='')
                .topic-content-box
                  .topic-content
                    h3
                      a(href='#') Vi&#x1EC7;c l&agrave;m
    // ? team
    section.team-area.section-padding40.fix
      .container
        .row.justify-content-center
          .col-xl-7.col-lg-8
            .section-tittle.text-center.mb-55
              h2 &Dstrok;&#x1ED9;i ng&utilde; chuy&ecirc;n gia
        .team-active
          .single-cat.text-center
            .cat-icon
              img(src='assets/img/gallery/MrTai.png' alt='')
            .cat-cap
              h5
                a(href='services.html') L&ecirc; Minh T&agrave;i
              p Kinh nghi&#x1EC7;m du h&#x1ECD;c Nh&#x1EAD;t B&#x1EA3;n 2 năm
              p - UIT -
          .single-cat.text-center
            .cat-icon
              img(src='assets/img/gallery/MsLe.jpg' alt='')
            .cat-cap
              h5
                a(href='services.html') Phan Thanh L&#x1EC7;
              p
                | Kinh nghi&#x1EC7;m gi&#x1EA3;ng d&#x1EA1;y 5 n&abreve;m
                br
                | - UIT -
          .single-cat.text-center
            .cat-icon
              img(src='assets/img/gallery/MsThuong.jpg' alt='')
            .cat-cap
              h5
                a(href='services.html') D&#x1B0;&#x1A1;ng Th&#x1ECB; Th&#x1B0;&#x1A1;ng
              p Kinh nghi&#x1EC7;m gi&#x1EA3;ng d&#x1EA1;y 4 n&abreve;m
              p - UIT -
          .single-cat.text-center
            .cat-icon
              img(src='assets/img/gallery/MsHoa.jpg' alt='')
            .cat-cap
              h5
                a(href='services.html') Nguyễn Th&#x1ECB; Hoa
              p Kinh nghi&#x1EC7;m gi&#x1EA3;ng d&#x1EA1;y 5 n&abreve;m
              p - UIT -
          .single-cat.text-center
            .cat-icon
              img(src='assets/img/gallery/MsJunko.jpg' alt='')
            .cat-cap
              h5
                a(href='services.html') Junko Hirayama
              p Kinh nghi&#x1EC7;m gi&#x1EA3;ng d&#x1EA1;y 7 n&abreve;m
              p - Ōsaka -
          .single-cat.text-center
            .cat-icon
              img(src='assets/img/gallery/MrShin.jpg' alt='')
            .cat-cap
              h5
                a(href='services.html') Suzuki Shin
              p Kinh nghi&#x1EC7;m gi&#x1EA3;ng d&#x1EA1;y 7 n&abreve;m
              p - Tagata-gun, Shizuoka -
          .single-cat.text-center
            .cat-icon
              img(src='assets/img/gallery/MsAkai.png' alt='')
            .cat-cap
              h5
                a(href='services.html') Aika Hamasaki
              p Kinh nghi&#x1EC7;m gi&#x1EA3;ng d&#x1EA1;y 7 n&abreve;m
              p - Ōsaka -
    