<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Courses | Education</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
	<link rel="stylesheet"href="./assets/css/fontawesome.css">
	<link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="assets/css/account.css">
    
</head>

<body>
    <main>
		<div id="passcode">
			<div class="flex-box">
				<h1>Mã xác thực</h1><br>
				<p class="info">Một mã xác thực đã gửi tới địa chỉ&nbsp;<span>UITĐHQGTPHCM@gmail.com</span>.</p>
				<p class="info">Vui lòng kiểm tra email và nhập mã.&nbsp;<span><input type="button" value="Gửi lại mã" class="info"></span></p>
				<div class="passcode-area">
					<input type="text" maxlength="6"placeholder="Mã xác thực">
					<input type="submit" class="fa-input"value="&#xf105;">	
				</div>
				<a class='exit-passcode'href='/'><i class="fas fa-sign-out-alt"></i>Thoát</a>
				
			</div>
		</div>
	</main>
</body>
</html> 
<!-- Jquery Plugins, main Jquery -->	
<script src="./assets/js/plugins.js"></script>
<script src="./assets/js/main.js"></script>
<script src="./assets/js/passscode.js"></script>


</body>
</html>