extends layout
block body 
  .container-scroller
    header#header
      .container
        // partial:../partials/_navbar.html
        nav.navbar.navbar-expand-lg.navbar-light
          .d-flex.justify-content-between.align-items-center.navbar-top
            ul.navbar-left
              li Wed, March 4, 2020
              li 30&deg;C,London
            div
              a.navbar-brand(href='#')
                img(src='images/logo.svg' alt='')
            .d-flex
              ul.navbar-right
                li
                  a(href='#') ENGLISH
                li
                  a(href='#') ESPA&Ntilde;OL
              ul.social-media
                li
                  a(href='#')
                    i.mdi.mdi-instagram
                li
                  a(href='#')
                    i.mdi.mdi-facebook
                li
                  a(href='#')
                    i.mdi.mdi-youtube
                li
                  a(href='#')
                    i.mdi.mdi-linkedin
                li
                  a(href='#')
                    i.mdi.mdi-twitter
          .navbar-bottom-menu
            button.navbar-toggler(type='button' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
              span.navbar-toggler-icon
            #navbarSupportedContent.navbar-collapse.justify-content-center.collapse
              ul.navbar-nav.d-lg-flex.justify-content-between.align-items-center
                li
                  button.navbar-close
                    i.mdi.mdi-close
                li.nav-item.active
                  a.nav-link.active(href='../index.html') Home
                li.nav-item
                  a.nav-link(href='./world.html') World
                li.nav-item
                  a.nav-link(href='./author.html') Magazine
                li.nav-item
                  a.nav-link(href='./news-post.html') Blog
                li.nav-item
                  a.nav-link(href='./business.html') Business
                li.nav-item
                  a.nav-link(href='./sports.html') Sports
                li.nav-item
                  a.nav-link(href='./art.html') Art
                li.nav-item
                  a.nav-link(href='./politics.html') Politics
                li.nav-item
                  a.nav-link(href='./real-estate.html') Real estate
                li.nav-item
                  a.nav-link(href='./travel.html') Travel
                li.nav-item
                  a.nav-link(href='#')
                    i.mdi.mdi-magnify
        // partial
    .container
      .row
        .col-sm-12
          .text-center
            h1.text-center.mt-5
              | world
            p.text-secondary.fs-15
              | This text can be added in the category Description field in
              | dashboard
          h5.text-muted.font-weight-medium.mb-3 World News
      .row
        .col-lg-6.mb-5.mb-sm-2
          .position-relative.image-hover
            img.img-fluid(src='images/Politics_1.jpg' alt='world-news')
            span.thumb-title WORLD
          h1.font-weight-600.mt-3
            | Melania Trump speaks about courage at State Department
          p.fs-15.font-weight-normal
            | Lorem Ipsum has been the industry&apos;s standard dummy text ever since
            | the 1500s, when an unknown printer took a galley of type and
        .col-lg-6.mb-5.mb-sm-2
          .row
            .col-sm-6.mb-5.mb-sm-2
              .position-relative.image-hover
                img.img-fluid(src='images/Politics_4.jpg' alt='world-news')
                span.thumb-title WORLD
              h5.font-weight-600.mt-3
                | A look at California&apos;s eerie plane graveyards
              p.fs-15.font-weight-normal
                | Lorem Ipsum has been the industry&apos;s standard dummy text
            .col-sm-6.mb-5.mb-sm-2
              .position-relative.image-hover
                img.img-fluid(src='images/Politics_2.jpg' alt='world-news')
                span.thumb-title WORLD
              h5.font-weight-600.mt-3
                | The world&apos;s most beautiful racecourses
              p.fs-15.font-weight-normal
                | Lorem Ipsum has been the industry&apos;s standard dummy text
          .row.mt-3
            .col-sm-6.mb-5.mb-sm-2
              .position-relative.image-hover
                img.img-fluid(src='images/Politics_5.jpg' alt='world-news')
                span.thumb-title WORLD
              h5.font-weight-600.mt-3
                | Japan cancels cherry blossom festivals over virus fears
              p.fs-15.font-weight-normal
                | Lorem Ipsum has been the industry&apos;s standard dummy text
            .col-sm-6
              .position-relative.image-hover
                img.img-fluid(src='images/Politics_3.jpg' alt='world-news')
                span.thumb-title WORLD
              h5.font-weight-600.mt-3
                | Classic cars reborn as electric vehicles
              p.fs-15.font-weight-normal
                | Lorem Ipsum has been the industry&apos;s standard dummy text
      .row.mt-5
        .col-sm-12
          h5.text-muted.font-weight-medium.mb-3 Popular News
      .row.mb-4
        .col-sm-3.mb-5.mb-sm-2
          .position-relative.image-hover
            img.img-fluid(src='images/Politics_6.jpg' alt='world-news')
            span.thumb-title WORLD
          h5.font-weight-600.mt-3
            | The island country that gave Mayor Pete his name
        .col-sm-3.mb-5.mb-sm-2
          .position-relative.image-hover
            img.img-fluid(src='images/Politics_10.jpg' alt='world-news')
            span.thumb-title WORLD
          h5.font-weight-600.mt-3
            | Disney parks expand (good) vegan food options
        .col-sm-3.mb-5.mb-sm-2
          .position-relative.image-hover
            img.img-fluid(src='images/Politics_14.jpg' alt='world-news')
            span.thumb-title WORLD
          h5.font-weight-600.mt-3
            | A hot springs where clothing is optional after dark
        .col-sm-3.mb-5.mb-sm-2
          .position-relative.image-hover
            img.img-fluid(src='images/Politics_16.jpg' alt='world-news')
            span.thumb-title WORLD
          h5.font-weight-600.mt-3
            | A hot springs where clothing is optional after dark
      .row.mb-4
        .col-sm-3.mb-5.mb-sm-2
          .position-relative.image-hover
            img.img-fluid(src='images/Politics_8.jpg' alt='world-news')
            span.thumb-title WORLD
          h5.font-weight-600.mt-3
            | Japanese chef carves food into incredible pieces of art
        .col-sm-3.mb-5.mb-sm-2
          .position-relative.image-hover
            img.img-fluid(src='images/Politics_12.jpg' alt='world-news')
            span.thumb-title WORLD
          h5.font-weight-600.mt-3
            | The Misanthrope Society: A Taipei bar for people who
        .col-sm-3.mb-5.mb-sm-2
          .position-relative.image-hover
            img.img-fluid(src='images/Politics_18.jpg' alt='world-news')
            span.thumb-title WORLD
          h5.font-weight-600.mt-3
            | From Pakistan to the Caribbean: Curry&apos;s journey
        .col-sm-3.mb-5.mb-sm-2
          .position-relative.image-hover
            img.img-fluid(src='images/Politics_20.jpg' alt='world-news')
            span.thumb-title WORLD
          h5.font-weight-600.mt-3
            | A hot springs where clothing is optional after dark
      .row.mb-4
        .col-sm-3.mb-5.mb-sm-2
          .position-relative.image-hover
            img.img-fluid(src='images/Politics_7.jpg' alt='world-news')
            span.thumb-title WORLD
          h5.font-weight-600.mt-3
            | The island country that gave Mayor Pete his name
        .col-sm-3.mb-5.mb-sm-2
          .position-relative.image-hover
            img.img-fluid(src='images/Politics_11.jpg' alt='world-news')
            span.thumb-title WORLD
          h5.font-weight-600.mt-3
            | Disney parks expand (good) vegan food options
        .col-sm-3.mb-5.mb-sm-2
          .position-relative.image-hover
            img.img-fluid(src='images/Politics_15.jpg' alt='world-news')
            span.thumb-title WORLD
          h5.font-weight-600.mt-3
            | A hot springs where clothing is optional after dark
        .col-sm-3.mb-5.mb-sm-2
          .position-relative.image-hover
            img.img-fluid(src='images/Politics_17.jpg' alt='world-news')
            span.thumb-title WORLD
          h5.font-weight-600.mt-3
            | A hot springs where clothing is optional after dark
      .row
        .col-sm-3.mb-5.mb-sm-2
          .position-relative.image-hover
            img.img-fluid(src='images/Politics_9.jpg' alt='world-news')
            span.thumb-title WORLD
          h5.font-weight-600.mt-3
            | Japanese chef carves food into incredible pieces of art
        .col-sm-3.mb-5.mb-sm-2
          .position-relative.image-hover
            img.img-fluid(src='images/Politics_13.jpg' alt='world-news')
            span.thumb-title WORLD
          h5.font-weight-600.mt-3
            | The Misanthrope Society: A Taipei bar for people who
        .col-sm-3.mb-5.mb-sm-2
          .position-relative.image-hover
            img.img-fluid(src='images/Politics_19.jpg' alt='world-news')
            span.thumb-title WORLD
          h5.font-weight-600.mt-3
            | From Pakistan to the Caribbean: Curry&apos;s journey
        .col-sm-3.mb-5.mb-sm-2
          .position-relative.image-hover
            img.img-fluid(src='images/Politics_21.jpg' alt='world-news')
            span.thumb-title WORLD
          h5.font-weight-600.mt-3
            | From Pakistan to the Caribbean: Curry&apos;s journey
  // container-scroller ends
block footer 
  footer
    .container
      .row
        .col-sm-12
          .border-top
        .col-sm-3.col-lg-3
          ul.footer-vertical-nav
            li.menu-title
              a(href='./news-post.html') News
            li
              a(href='../index.html') Home
            li
              a(href='./world.html') World
            li
              a(href='./author.html') Magazine
            li
              a(href='./business.html') Business
            li
              a(href='./politics.html') Politics
        .col-sm-3.col-lg-3
          ul.footer-vertical-nav
            li.menu-title
              a(href='./world.html') World
            li
              a(href='./sports.html') Sports
            li
              a(href='./art.html') Art
            li
              a(href='#') Magazine
            li
              a(href='./real-estate.html') Real estate
            li
              a(href='./travel.html') Travel
            li
              a(href='./author.html') Author
        .col-sm-3.col-lg-3
          ul.footer-vertical-nav
            li.menu-title
              a(href='#') Features
            li
              a(href='#') Photography
            li
              a(href='#') Video
            li
              a(href='./news-post.html') Newsletters
            li
              a(href='#') Live Events
            li
              a(href='#') Stores
            li
              a(href='#') Jobs
        .col-sm-3.col-lg-3
          ul.footer-vertical-nav
            li.menu-title
              a(href='#') More
            li
              a(href='#') RSS
            li
              a(href='#') FAQ
            li
              a(href='#') User Agreement
            li
              a(href='#') Privacy
            li
              a(href='./aboutus.html') About us
            li
              a(href='./contactus.html') Contact
      .row
        .col-sm-12
          .d-flex.justify-content-between
            img.footer-logo(src='images/logo.svg' alt='')
            .d-flex.justify-content-end.footer-social
              h5.m-0.font-weight-600.mr-3.d-none.d-lg-flex Follow on
              ul.social-media
                li
                  a(href='#')
                    i.mdi.mdi-instagram
                li
                  a(href='#')
                    i.mdi.mdi-facebook
                li
                  a(href='#')
                    i.mdi.mdi-youtube
                li
                  a(href='#')
                    i.mdi.mdi-linkedin
                li
                  a(href='#')
                    i.mdi.mdi-twitter
      .row
        .col-sm-12
          .d-lg-flex.justify-content-between.align-items-center.border-top.mt-5.footer-bottom
            ul.footer-horizontal-menu
              li
                a(href='#') Terms of Use.
              li
                a(href='#') Privacy Policy.
              li
                a(href='#') Accessibility &amp; CC.
              li
                a(href='#') AdChoices.
              li
                a(href='#') Advertise with us Transcripts.
              li
                a(href='#') License.
              li
                a(href='#') Sitemap
            p.font-weight-medium
              | &copy; 2020 
              a.text-dark(href='https://www.bootstrapdash.com/' target='_blank') @ BootstrapDash
              | , Inc.All Rights Reserved.
  // partial
block script 
  script(src='javascripts/vendor.bundle.base.js')
  // endinject
  // plugin js for this page
  script(src='javascripts/aos.js')
  script(src='javascripts/owl.carousel.min.js')
  // End plugin js for this page
  // Custom js for this page
  script(src='javascripts/demo.js')
  // End custom js for this page