doctype html
head
  base(href='/')
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title Xác nhận tài khoản | Wakame
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico')
  // CSS here
  link(rel="stylesheet" href="assets/css/fontawesome.css")
  link(rel="stylesheet" href="assets/css/fontawesome-all.min.css")
  link(rel="stylesheet" href='assets/css/account.css')
body(onload="showForm()")
    #passcode
        form.flex-box#form(method="post")
            h1 Mã xác thực
            br
            p.info
                | Một mã xác thực đã gửi tới địa chỉ email của bạn.
            p.info
                | Vui lòng kiểm tra email và nhập mã.&nbsp;
                span
                input.info(type='button' value='Gửi lại mã')
            .passcode-area
                input(type='text' name='active_code' maxlength='6' placeholder='Mã xác thực')
                button.fa-input(type="submit")
                    i.fas.fa-angle-right.fa-2x
            a.exit-passcode(href='/')
                i.fas.fa-sign-out-alt
                | Thoát
script(src="assets/js/account.js")
        
