extends layout.pug 
block title 
  title Tài khoản cá nhân | Wakame
block main 
  main
    // ? slider Area Start
    section.slider-area.slider-area2
      .slider-active
        // Single Slider
        .single-slider.slider-height2
          .container
            .row
              .col-xl-8.col-lg-11.col-md-12
                .hero__caption.hero__caption2
                  h1(data-animation='bounceIn' data-delay='0.2s') Thông tin cá nhân
                  // breadcrumb Start
                  nav(aria-label='breadcrumb')
                    ol.breadcrumb
                      li.breadcrumb-item
                        a(href='/') Trang chủ
                      li.breadcrumb-item
                        a(href='/profile') Thông tin cá nhân
                  // breadcrumb End
    .services-area.services-area2(style="padding-top:50px;padding-bottom:50px")
      .container
        .row.justify-content-sm-center
          .col-lg-4.col-md-6.col-sm-8
            .single-services.mb-30(style="box-shadow:none;padding-left:0px;padding-top:0px")
                .features-caption(style="padding-left:0px")
                    a(href="/profile")
                        h3 Thông tin cá nhân
                    a(href="/resetpw")
                        h3 Thay đổi mật khẩu
                    a(href="/tkb")
                        h3 Tạo TKB UIT
          .col-lg-8.col-md-6.col-sm-8
            .row(style="width:700px;margin-bottom:30px")
              .col-xl-8.col-lg-11.col-md-12
                h1 Thông tin cá nhân
              .col-xl-4.col-lg-11.col-md-12(style="margin-top:5px")
                a(href="/editprofile" style="color:#4255a4;font-size:17px")
                  i.fas.fa-edit
                  | &nbsp;Chỉnh sửa thông tin
            .row(style="width:700px")
              .col-xl-8.col-lg-11.col-md-12
                .features-caption
                  h3 Họ và tên
                  p #{user_name}
              .col-xl-4.col-lg-11.col-md-12
                .features-caption
                  h3 Giới tính
                  p Nữ
            .row(style="width:700px")
              .col-xl-8.col-lg-11.col-md-12
                .features-caption
                  h3 Ngày sinh
                  p 1/1/2000
              .col-xl-4.col-lg-11.col-md-12
                .features-caption
                  h3 Số điện thoại
                  p 0123 456 789
            .row(style="width:700px")
              .col-xl-8.col-lg-11.col-md-12
                .features-caption
                  h3 Trình độ tiếng Nhật
                  p N3
              .col-xl-4.col-lg-11.col-md-12
                .features-caption
                  h3 Quốc gia
                  p Việt Nam
            .row(style="width:700px")
              .col-xl-8.col-lg-11.col-md-12
                .features-caption
                  h3 Email
                  p #{email_user}
            .row(style="width:700px")
              .col-xl-8.col-lg-11.col-md-12
                .features-caption
                  h3 Địa chỉ
                  p Unknow
