doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://kit.fontawesome.com/64d58efce2.js' crossorigin='anonymous')
  link(rel='stylesheet' href='/assets/css/account.css')
  title Đăng ký &amp; Sign up Form
.container
  .forms-container
    .signin-signup
      form.sign-in-form(action='/login' method='POST')
        h2.title Đăng nhập 2
        .input-field
          i.fas.fa-user
          input(type='email' name='email' placeholder='Email')
        .input-field
          i.fas.fa-lock
          input(type='password' name='password' placeholder='Mật khẩu')
        input.btn.solid(type='submit' value='Đăng nhập')
        p.social-text Đăng nhập với tài khoản xã hội
        .social-media
          a.social-icon(href='#')
            i.fab.fa-facebook-f
          a.social-icon(href='#')
            i.fab.fa-google
      form.sign-up-form(action='/register' method='POST')
        h2.title Đăng ký
        .input-field
          i.fas.fa-user
          input(type='text' name='name' placeholder='Họ và tên')
        .input-field
          i.fas.fa-envelope
          input(type='email' name='email' placeholder='Email')
        .input-field
          i.fas.fa-lock
          input(type='password' name='password' placeholder='Mật khẩu')
        .input-field
          i.fas.fa-lock
          input(type='password' name='re_password' placeholder='Nhập lại mật khẩu')
        input.btn(type='submit' value='Đăng ký')
        p.social-text Đăng ký với tài khoản xã hội
        .social-media
          a.social-icon(href='#')
            i.fab.fa-facebook-f
          a.social-icon(href='#')
            i.fab.fa-google
  .panels-container
    .panel.left-panel
      .content
        h3 Chưa có tài khoản ?
        p
          | Hãy đăng ký ngay vì nó là miễn phí. 
          br
          | Nếu là sinh viên của UIT hãy dùng tài khoản Gmail của trường để nhận những tiện ích đặc quyền.
        button#sign-up-btn.btn.transparent
          | Đăng ký
      img.image(src='img/log.svg' alt='')
    .panel.right-panel
      .content
        h3 Đã có tài khoản?
        p
          | Hay đăng nhập và bắt đầu sử dụng thôi nào
        button#sign-in-btn.btn.transparent
          | Đăng nhập
      img.image(src='img/register.svg' alt='')
script(src='/assets/js/account.js')
