doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='apple-touch-icon' sizes='57x57' href='images/favicon/apple-icon-57x57.png')
  link(rel='apple-touch-icon' sizes='60x60' href='images/favicon/apple-icon-60x60.png')
  link(rel='apple-touch-icon' sizes='72x72' href='images/favicon/apple-icon-72x72.png')
  link(rel='apple-touch-icon' sizes='76x76' href='images/favicon/apple-icon-76x76.png')
  link(rel='apple-touch-icon' sizes='114x114' href='images/favicon/apple-icon-114x114.png')
  link(rel='apple-touch-icon' sizes='120x120' href='images/favicon/apple-icon-120x120.png')
  link(rel='apple-touch-icon' sizes='144x144' href='images/favicon/apple-icon-144x144.png')
  link(rel='apple-touch-icon' sizes='152x152' href='images/favicon/apple-icon-152x152.png')
  link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-icon-180x180.png')
  link(rel='icon' type='image/png' sizes='192x192' href='/android-icon-192x192.png')
  link(rel='icon' type='image/png' sizes='32x32' href='images/favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='96x96' href='images/favicon/favicon-96x96.png')
  link(rel='icon' type='image/png' sizes='16x16' href='images/favicon/favicon-16x16.png')
  link(rel='manifest' href='images/favicon/manifest.json')
  meta(name='msapplication-TileColor' content='#ffffff')
  meta(name='msapplication-TileImage' content='images/favicon/ms-icon-144x144.png')
  meta(name='theme-color' content='#ffffff')
  title Sign Up Form by Colorlib
  // Font Icon
  link(rel='stylesheet' href='stylesheets/material-design-iconic-font.min.css')
  // Main css
  link(rel='stylesheet' href='stylesheets/loginPage.css')
.main
  // Sing in  Form
  section.signup
    .container
      .signup-content
        .signup-form
          h2.form-title Sign up
          form#register-form.register-form(method='POST')
            .form-group
              label(for='name')
                i.zmdi.zmdi-account.material-icons-name
              input#name(type='text' name='name' placeholder='Your Name')
            .form-group
              label(for='email')
                i.zmdi.zmdi-email
              input#email(type='email' name='email' placeholder='Your Email')
            .form-group
              label(for='pass')
                i.zmdi.zmdi-lock
              input#pass(type='password' name='pass' placeholder='Password')
            .form-group
              label(for='re-pass')
                i.zmdi.zmdi-lock-outline
              input#re_pass(type='password' name='re_pass' placeholder='Repeat your password')
            .form-group
              input#agree-term.agree-term(type='checkbox' name='agree-term')
              label.label-agree-term(for='agree-term')
                span
                  span
                | I agree all statements in  
                a.term-service(href='#') Terms of service
            .form-group.form-button
              input#signup.form-submit(type='submit' name='signup' value='Register')
        .signup-image
          figure
            img(src='images/signup-image.jpg' alt='sing up image')
          a.signup-image-link(href='#') I am already member
// JS
script(src='javascripts/jquery.min.js')
script(src='javascripts/main.js')
// This templates was made by Colorlib (https://colorlib.com)
