extends layout.pug
block title 
	title Thời khóa biểu | Wakame 
	 
block main
	main 
		section.slider-area.slider-area2
			.slider-active 
				.single-slider.slider-height2
		section.services-area.services-area2.mt-5.pt-5.pb-5.mb-5
			.container
				.row.justify-content-sm-center
					.col.pt-5.mt-5
						.m-auto.pr-5.pl-5.pt-2
							img.img-fluid.pr-5.pl-5(src="assets/img/icon/Ship.png")
						.pr-5.pl-5(style="margin-top:-15px;")
							#headerWave.w-100 
								.w03 
									.w02 
										.w01
					.col-xl-6.col-lg-6.pt-5
						.profile-header.pt-5 
							.row 
								.col 
									h3 Đổi mật khẩu
									p Mật khẩu phải bao gồm chữ thường, chữ hoa, số và ít nhất 1 ký tự đặc biệt
						.profile-info 
							form(action="/resetpw" method="POST")
								.row.pt-2.border-bottom.pofile-item 
									.col.pt-1 
										p Mật khẩu hiện tại 
									.col-xl-8.col-lg-8
										input.w-100.text-left.form-control(type="password" name="currentpw" minlength="8")
								.row.pt-2.border-bottom.pofile-item 
									.col.pt-1 
										p Mật khẩu mới 
									.col-xl-8.col-lg-8
										input.w-100.text-left.form-control(type="password" name="newpw" minlength="8")
								.row.pt-2.border-bottom.pofile-item 
									.col.pt-1 
										p Nhập lại mật khẩu mới 
									.col-xl-8.col-lg-8
										input.w-100.text-left.form-control(type="password" name="re_newpw" minlength="8")
								.row.pt-3
									.col.pt-2
										a(href="#") 
											p 
												u Quên mật khẩu 
									.col-xl-8.col-lg-8.text-right
										button.button.boxed-btn.rounded(type="submit") Lưu
		.pt-xl-5.pb-xl-5 
			#gear(style="bottom:150px;right:150px") 
		.pt-xl-5.pb-xl-5

								


